In [ ]:
pd.set_option('max_rows', 99999)
pd.set_option('max_colwidth', 400)
pd.describe_option('max_colwidth')

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

!pip install ipython-autotime
%load_ext autotime

import os
%cd /content/gdrive/My Drive/skripsi/data
dir = '/content/gdrive/My Drive/skripsi/data'

##### data

###### nou

In [ ]:
data = [['tom', 10], ['nick', 15], ['juli', 14]]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns=['Makan', 'Tidur'])

time: 4.67 ms (started: 2022-06-23 19:08:44 +00:00)

In [ ]:
df.loc[df['Makan'] == 'Tidur', 'B'] = 20

time: 3.81 ms (started: 2022-06-23 19:08:52 +00:00)

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving cek.xlsx to cek.xlsx
time: 15 s (started: 2022-06-22 17:44:36 +00:00)

In [ ]:
import pandas as pd
df = pd.read_excel('cek.xlsx');

In [ ]:
df['TanggalDonor'] = pd.to_datetime(df['TanggalDonor'])
months = df["TanggalDonor"].dt.year * 12 + \
          df["TanggalDonor"].dt.month  # series
df["Bulan"] = months - min(months) + 1

time: 16.8 ms (started: 2022-06-22 17:46:37 +00:00)

In [ ]:
df

,NomerDonor,NamaDonor,NoKantong,TanggalDonor,Umur,JKel,Lokasi,Volume,JenisKantong,BloodType,NoTlp,Email,Bulan
0,20029078,MARSOEDI SANTOSO IR *,16150139,2017-01-03 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,1
1,20029078,MARSOEDI SANTOSO IR *,16150139,2018-01-03 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,13
2,20029078,MARSOEDI SANTOSO IR *,16150139,2019-01-03 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,25
3,20029078,MARSOEDI SANTOSO IR *,16150139,2020-01-03 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,37
4,20029078,MARSOEDI SANTOSO IR *,16150139,2021-01-03 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,49
5,20029099,SAPA,16150139,2021-01-03 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,49
6,20029099,SAPA,16150139,2021-01-06 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,49
7,20029099,SAPA,16150139,2021-01-09 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,49
8,20029599,NO JANGAN,16150139,2017-01-03 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,1
9,20029599,NO JANGAN,16150139,2019-01-06 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,25
10,20029599,NO JANGAN,16150139,2021-01-09 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,49

time: 21.3 ms (started: 2022-06-22 17:46:41 +00:00)

In [ ]:
df = df.loc[(df['Bulan'] >= df.Bulan.max()-59)
                & (df['Bulan'] <= df.Bulan.max())]

time: 11.4 ms (started: 2022-06-22 17:47:22 +00:00)

In [ ]:
df

,NomerDonor,NamaDonor,NoKantong,TanggalDonor,Umur,JKel,Lokasi,Volume,JenisKantong,BloodType,NoTlp,Email,Bulan
0,20029078,MARSOEDI SANTOSO IR *,16150139,2017-01-03 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,1
1,20029078,MARSOEDI SANTOSO IR *,16150139,2018-01-03 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,13
2,20029078,MARSOEDI SANTOSO IR *,16150139,2019-01-03 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,25
3,20029078,MARSOEDI SANTOSO IR *,16150139,2020-01-03 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,37
4,20029078,MARSOEDI SANTOSO IR *,16150139,2021-01-03 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,49
5,20029099,SAPA,16150139,2021-01-03 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,49
6,20029099,SAPA,16150139,2021-01-06 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,49
7,20029099,SAPA,16150139,2021-01-09 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,49
8,20029599,NO JANGAN,16150139,2017-01-03 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,1
9,20029599,NO JANGAN,16150139,2019-01-06 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,25
10,20029599,NO JANGAN,16150139,2021-01-09 15:42:12,56,Pria,UTD PMI SURABAYA,350 cc,Triple,O Positif,81248897057,skripsiwid@gmail.com,49

time: 20.1 ms (started: 2022-06-22 17:47:28 +00:00)

In [ ]:
new_cols = pd.RangeIndex(df['Bulan'].min(), df['Bulan'].max()+1)
res = (
        pd.crosstab(df['NomerDonor'], df['Bulan'])
            .reindex(columns=new_cols, fill_value=0)
)

time: 19.6 ms (started: 2022-06-22 17:48:32 +00:00)

In [ ]:
res

,1,2,3,4,5,6,7,8,9,10,...,40,41,42,43,44,45,46,47,48,49
NomerDonor,,,,,,,,,,,,,,,,,,,,,
20029078,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
20029099,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
20029599,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

time: 19.7 ms (started: 2022-06-22 17:48:36 +00:00)

###### df _ normal (2017 - 2022) -> feb 22

In [ ]:
jenis = ['Triple', 'Quadruple', 'Single', 'Double Besar']

time: 753 s (started: 2022-07-01 08:53:59 +00:00)

In [ ]:
import pandas as pd
df = pd.read_csv('dp17-21.csv')
df.JenisKantong = df.JenisKantong.str.title()
df = df[df['JenisKantong'].isin(jenis)]

time: 775 ms (started: 2022-07-01 08:54:00 +00:00)

In [ ]:
def changegol(df):
        df['BloodType'] = df['BloodType'].str.lower()
        df.loc[df['BloodType'] == 'a positif', 'GolDrh'] = 0
        df.loc[df['BloodType'] == 'a negatif', 'GolDrh'] = 1
        df.loc[df['BloodType'] == 'b positif', 'GolDrh'] = 2
        df.loc[df['BloodType'] == 'b negatif', 'GolDrh'] = 3
        df.loc[df['BloodType'] == 'ab positif', 'GolDrh'] = 4
        df.loc[df['BloodType'] == 'ab negatif', 'GolDrh'] = 5
        df.loc[df['BloodType'] == 'o positif', 'GolDrh'] = 6
        df.loc[df['BloodType'] == 'o negatif', 'GolDrh'] = 7
        jenis = ['Triple', 'Quadruple', 'Single', 'Double Besar']
        df.JenisKantong = df.JenisKantong.str.title()
        df = df[df['JenisKantong'].isin(jenis)]
        return df

df = changegol(df)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

time: 447 ms (started: 2022-07-01 08:54:01 +00:00)

In [ ]:
d22 = df.loc[(df['TanggalDonor'] > '2022-01-31 23:59:59.999')]
d22 = d22.loc[(d22['Lokasi'] == 'UTD PMI SURABAYA')]

time: 24.7 ms (started: 2022-07-01 08:54:01 +00:00)

In [ ]:
df = df.loc[(df['TanggalDonor'] <= '2022-01-31 23:59:59.999')]

time: 65.3 ms (started: 2022-07-01 08:54:01 +00:00)

In [ ]:
d22 = d22[d22.NomerDonor.isin(df.NomerDonor)]

time: 15.1 ms (started: 2022-07-01 08:54:01 +00:00)

###### df _ before corona (2015-2019) -> jan 2020

In [ ]:
jenis = ['Triple', 'Quadruple', 'Single', 'Double Besar']

time: 1.04 ms (started: 2022-07-01 08:53:42 +00:00)

In [ ]:
import pandas as pd
df = pd.read_csv('dp15-19.csv')
df.JenisKantong = df.JenisKantong.str.title()
df = df[df['JenisKantong'].isin(jenis)]

time: 1.33 s (started: 2022-07-01 08:53:42 +00:00)

In [ ]:
def changegol(df):
        df = df.loc[(df['Umur'] >= 17) & (df['Umur'] <= 64)]
        df['BloodType'] = df['BloodType'].str.lower()
        df.loc[df['BloodType'] == 'a positif', 'GolDrh'] = 'A Positif'
        df.loc[df['BloodType'] == 'a negatif', 'GolDrh'] = 'A Negatif'
        df.loc[df['BloodType'] == 'b positif', 'GolDrh'] = 'B Positif'
        df.loc[df['BloodType'] == 'b negatif', 'GolDrh'] = 'B Negatif'
        df.loc[df['BloodType'] == 'ab positif', 'GolDrh'] = 'AB Positif'
        df.loc[df['BloodType'] == 'ab negatif', 'GolDrh'] = 'AB Negatif'
        df.loc[df['BloodType'] == 'o positif', 'GolDrh'] = 'O Positif'
        df.loc[df['BloodType'] == 'o negatif', 'GolDrh'] = 'O Negatif'
        jenis = ['Triple', 'Quadruple', 'Single', 'Double Besar']
        df.JenisKantong = df.JenisKantong.str.title()
        df = df[df['JenisKantong'].isin(jenis)]
        return df

df = changegol(df)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

time: 533 ms (started: 2022-07-01 08:53:44 +00:00)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
d22 = df.loc[(df['TanggalDonor'] > '2019-12-31 23:59:59.999')]
d22 = d22.loc[(d22['Lokasi'] == 'UTD PMI SURABAYA')]

time: 25.2 ms (started: 2022-07-01 08:53:44 +00:00)

In [ ]:
df = df.loc[(df['TanggalDonor'] <= '2019-12-31 23:59:59.999')]

time: 68.5 ms (started: 2022-07-01 08:53:44 +00:00)

In [ ]:
d22 = d22[d22.NomerDonor.isin(df.NomerDonor)]

time: 11.7 ms (started: 2022-07-01 08:53:44 +00:00)

###### df _ after corona (2020-2022) -> feb 22

In [ ]:
jenis = ['Triple', 'Quadruple', 'Single', 'Double Besar']

time: 1.11 ms (started: 2022-07-01 08:53:20 +00:00)

In [ ]:
import pandas as pd
df = pd.read_csv('dp20-22.csv')
df.JenisKantong = df.JenisKantong.str.title()
df = df[df['JenisKantong'].isin(jenis)]

time: 400 ms (started: 2022-07-01 08:53:20 +00:00)

In [ ]:
def changegol(df):
        df['BloodType'] = df['BloodType'].str.lower()
        df.loc[df['BloodType'] == 'a positif', 'GolDrh'] = 'A Positif'
        df.loc[df['BloodType'] == 'a negatif', 'GolDrh'] = 'A Negatif'
        df.loc[df['BloodType'] == 'b positif', 'GolDrh'] = 'B Positif'
        df.loc[df['BloodType'] == 'b negatif', 'GolDrh'] = 'B Negatif'
        df.loc[df['BloodType'] == 'ab positif', 'GolDrh'] = 'AB Positif'
        df.loc[df['BloodType'] == 'ab negatif', 'GolDrh'] = 'AB Negatif'
        df.loc[df['BloodType'] == 'o positif', 'GolDrh'] = 'O Positif'
        df.loc[df['BloodType'] == 'o negatif', 'GolDrh'] = 'O Negatif'
        jenis = ['Triple', 'Quadruple', 'Single', 'Double Besar']
        df.JenisKantong = df.JenisKantong.str.title()
        df = df[df['JenisKantong'].isin(jenis)]
        return df

df = changegol(df)

time: 259 ms (started: 2022-07-01 08:53:21 +00:00)

In [ ]:
d22 = df.loc[(df['TanggalDonor'] > '2022-01-31 23:59:59.999')]
d22 = d22.loc[(d22['Lokasi'] == 'UTD PMI SURABAYA')]

time: 26.7 ms (started: 2022-07-01 08:53:21 +00:00)

In [ ]:
df = df.loc[(df['TanggalDonor'] <= '2022-01-31 23:59:59.999')]

time: 24.8 ms (started: 2022-07-01 08:53:21 +00:00)

In [ ]:
d22 = d22[d22.NomerDonor.isin(df.NomerDonor)]

time: 9.97 ms (started: 2022-07-01 08:53:21 +00:00)

##### ranking

In [ ]:
from datetime import date
import pandas as pd
import time
import datetime
import numpy as np
import tensorflow_hub as hub
import math
import requests
!pip install pyspark
!pip install findspark
import findspark
findspark.init()
from pyspark.ml.recommendation import ALS
from pyspark import SparkContext, SQLContext, SparkConf, StorageLevel
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.ml.feature import StringIndexer
from pyspark.sql.functions import col
from pyspark.mllib.recommendation import Rating
from pyspark.ml import Pipeline
def _initialize_spark() -> SparkSession:
    """Create a Spark Session for Streamlit app"""
    conf = SparkConf().setAppName("lecture-lyon2").setMaster("local")
    spark = SparkSession.builder.config(conf=conf).getOrCreate()
    return spark, spark.sparkContext

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     || 281.3 MB 39 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     || 199 kB 44.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=949c226ca72afd816113f14ab713be7c2bb8f680c98977ec7437662b762709b0
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1
time: 45.3 s (started: 2022-07-01 08:47:13 +00:00)

In [ ]:
def rating(df):
    donor = df[['NomerDonor', 'TanggalDonor',
                'GolDrh', 'JKel', 'Lokasi', 'Umur']]
    donor = donor.drop_duplicates()
    donor.loc[donor['Umur'] >= 65, 'AgeCat'] = 0
    donor.loc[donor['Umur'] < 65, 'AgeCat'] = 3
    donor.loc[donor['JKel'] == 'Pria', 'JKCat'] = 1
    donor.loc[donor['JKel'] == 'Wanita', 'JKCat'] = 0
    # for index, row in donor.iterrows():
    #     if row.Umur >= 65:
    #         donor.at[index, 'AgeCat'] = 0
    #     else:
    #         donor.at[index, 'AgeCat'] = 3
    #     if row.JKel == 'Pria':
    #         donor.at[index, 'JKCat'] = 1
    #     else:
    #         donor.at[index, 'JKCat'] = 0
    lok = 'UTD PMI SURABAYA'
    location = donor.query(str("Lokasi == '") +
        lok + "'").groupby('NomerDonor').count()
    location = location[['GolDrh']]
    location.columns = ['Loc']
    location['NomerDonor'] = location.index
    location = location.rename_axis(index=None, columns=None)
    donor = pd.merge(donor, location, on=['NomerDonor'])
    
    location = donor.groupby('NomerDonor').count()
    location = location[['GolDrh']]
    location.columns = ['Freq']
    location['NomerDonor'] = location.index
    location = location.rename_axis(index=None, columns=None)
    donor = pd.merge(donor, location, on=['NomerDonor'])
    # 
    donor['Loc'] = donor['Loc']/donor['Freq']
    donor = donor[['NomerDonor', 'TanggalDonor',
                   'GolDrh', 'AgeCat', 'JKCat', 'Loc']]
    return donor

time: 17.7 ms (started: 2022-06-26 22:45:28 +00:00)

In [ ]:
# maks = donor['Loc'].max()

time: 821 s (started: 2022-06-26 22:45:28 +00:00)

In [ ]:
# donor['Loc'] = donor['Loc']/maks

time: 595 s (started: 2022-06-26 22:45:28 +00:00)

In [ ]:
# donor = donor[['NomerDonor', 'TanggalDonor', 'BloodType', 'AgeCat', 'JKCat', 'Loc']]

time: 627 s (started: 2022-06-26 22:45:28 +00:00)

In [ ]:
def rate1nopred(donor, classified):
    rated = pd.merge(donor, classified, on=['NomerDonor'])
    rated.loc[rated['Recency'] <= 60, 'Rating'] = 0
    rated.loc[rated['Recency'] > 60, 'Rating'] = ((6 - rated['Category']*rated['Loc']) + rated['AgeCat'] + rated['JKCat'])
    
    # for i, r in rated.iterrows():
    #     if r.Recency <= 60:
    #         rated.at[i, 'Rating'] = 0
    #     else:
    #         rated.at[i, 'Rating'] = ((r.Category*r.Loc) + r.AgeCat + r.JKCat)
    rated = rated[['NomerDonor', 'GolDrh', 'Rating']]
    oldmax = rated.Rating.max()
    oldmin = rated.Rating.min()
    OldRange = (oldmax - oldmin)
    NewRange = 4
    for i, r in rated.iterrows():
        rated.at[i, 'Rating'] = (
            float(((r.Rating - oldmin) * NewRange)) / OldRange) + 1
    # rated['NomerDonor'] = rated.NomerDonor.astype(int)
    return rated

time: 12.6 ms (started: 2022-06-26 22:45:28 +00:00)

In [ ]:
def rate2nopred(donor, classified):
    rated = pd.merge(donor, classified, on=['NomerDonor'])
    rated.loc[rated['Recency'] <= 60, 'Rating'] = 0
    rated.loc[rated['Recency'] > 60, 'Rating'] = ((6 - rated['Category'] + rated['AgeCat'] + rated['JKCat'])*rated['Loc'])
    
    # for i, r in rated.iterrows():
    #     if r.Recency <= 60:
    #         rated.at[i, 'Rating'] = 0
    #     else:
    #         rated.at[i, 'Rating'] = ((r.Category + r.AgeCat + r.JKCat)*r.Loc)
    rated = rated[['NomerDonor', 'GolDrh', 'Rating']]
    oldmax = rated.Rating.max()
    oldmin = rated.Rating.min()
    OldRange = (oldmax - oldmin)
    NewRange = 4
    for i, r in rated.iterrows():
        rated.at[i, 'Rating'] = (
            float(((r.Rating - oldmin) * NewRange)) / OldRange) + 1
    # rated['NomerDonor'] = rated.NomerDonor.astype(int)
    return rated

time: 10.6 ms (started: 2022-06-26 22:45:28 +00:00)

In [ ]:
def rate1pred(donor, classified):
    rated = pd.merge(donor, classified, on=['NomerDonor'])
    rated.loc[rated['Recency'] <= 60, 'Rating'] = 0
    rated.loc[(rated['Recency'] > 60) & (rated['Calon'] == 0), 'Rating'] = ((6 - rated['Category'] * rated['Loc']) + rated['AgeCat'] + rated['JKCat'])
    rated.loc[(rated['Recency'] > 60) & (rated['Calon'] == 1), 'Rating'] = ((6 - rated['Category'] * 3 * rated['Loc']) + rated['AgeCat'] + rated['JKCat'])
    
    # for i, r in rated.iterrows():
    #     if r.Recency <= 60:
    #         rated.at[i, 'Rating'] = 0
    #     else:
    #         if r.Calon == 1:
    #             rated.at[i, 'Rating'] = ((r.Category * 3 * r.Loc) + r.AgeCat + r.JKCat)
    #         else:
    #             rated.at[i, 'Rating'] = ((r.Category * r.Loc) + r.AgeCat + r.JKCat)
    rated = rated[['NomerDonor', 'GolDrh', 'Rating']]
    oldmax = rated.Rating.max()
    oldmin = rated.Rating.min()
    OldRange = (oldmax - oldmin)
    NewRange = 4
    for i, r in rated.iterrows():
        rated.at[i, 'Rating'] = (
            float(((r.Rating - oldmin) * NewRange)) / OldRange) + 1
    # rated['NomerDonor'] = rated.NomerDonor.astype(int)
    return rated

time: 9.94 ms (started: 2022-06-26 22:45:28 +00:00)

In [ ]:
def rate2pred(donor, classified):
    rated = pd.merge(donor, classified, on=['NomerDonor'])
    rated.loc[rated['Recency'] <= 60, 'Rating'] = 0
    rated.loc[(rated['Recency'] > 60) & (rated['Calon'] == 0), 'Rating'] = ((6-rated['Category'] + rated['AgeCat'] + rated['JKCat']) * rated['Loc'])
    rated.loc[(rated['Recency'] > 60) & (rated['Calon'] == 1), 'Rating'] = ((6-rated['Category'] + 3 + rated['AgeCat'] + rated['JKCat']) * rated['Loc'])
    
    # for i, r in rated.iterrows():
    #     if r.Recency <= 60:
    #         rated.at[i, 'Rating'] = 0
    #     else:
    #         if r.Calon == 1:
    #             rated.at[i, 'Rating'] = ((r.Category + 3 + r.AgeCat + r.JKCat)* r.Loc)
    #         else:
    #             rated.at[i, 'Rating'] = ((r.Category + r.AgeCat + r.JKCat)* r.Loc)
    rated = rated[['NomerDonor', 'GolDrh', 'Rating']]
    oldmax = rated.Rating.max()
    oldmin = rated.Rating.min()
    OldRange = (oldmax - oldmin)
    NewRange = 4
    for i, r in rated.iterrows():
        rated.at[i, 'Rating'] = (
            float(((r.Rating - oldmin) * NewRange)) / OldRange) + 1
    # rated['NomerDonor'] = rated.NomerDonor.astype(int)
    return rated

time: 17.2 ms (started: 2022-06-26 22:45:28 +00:00)

In [ ]:
def preprocann(df):
    df['TanggalDonor'] = pd.to_datetime(df['TanggalDonor'])
    months = df["TanggalDonor"].dt.year * 12 + \
             df["TanggalDonor"].dt.month  # series
    df["Bulan"] = months - min(months) + 1
    df = df.loc[(df['Bulan'] >= df.Bulan.max()-59)
                & (df['Bulan'] <= df.Bulan.max())]
    # ndf = df[['NomerDonor']].join(pd.get_dummies(
    #     df['Bulan'])).groupby('NomerDonor').max()
    new_cols = pd.RangeIndex(df['Bulan'].min(), df['Bulan'].max()+1)
    res = (
        pd.crosstab(df['NomerDonor'], df['Bulan'])
            .reindex(columns=new_cols, fill_value=0)
    )
    # res = res[res.columns[::-1]]
    max = df.Bulan.max()
    if max < 60:
        while (max < 60):
            max = max+1
            res.insert(0, 'a'+str(max), 0)
    return res

time: 12.2 ms (started: 2022-06-26 22:45:28 +00:00)

##### implementation pred

In [ ]:
import tensorflow_hub as hub
modelpred = hub.load('modelpred')
modelannrbc = hub.load('modelannrbc90')
modelann = hub.load('modelann')

time: 2.11 s (started: 2022-06-26 22:51:04 +00:00)

In [ ]:
def ANNpred(model, df):
    dfs = preprocann(df)
    preds = []
    for i, r in dfs.iterrows():
        # print(r)
        l = []
        l.append(r)
        pred = model(l)
        preds.append([pred.numpy()[0][0], pred.numpy()[0][1]])
    ndfp = pd.DataFrame(preds, columns=['No', 'Yes'])
    
    ndfp.loc[ndfp['No'] > ndfp['Yes'], 'Calon'] = 0
    ndfp.loc[ndfp['Yes'] >= ndfp['No'], 'Calon'] = 1

    # for i, r in ndfp.iterrows():
    #     if r.No > r.Yes:
    #         ndfp.at[i, 'Calon'] = 0
    #     else:
    #         ndfp.at[i, 'Calon'] = 1
        # # calon -> 1, bkn -> 0

    dfs['Calon'] = ndfp['Calon'].values
    dfs['NomerDonor'] = dfs.index
    dfs = dfs[['NomerDonor', 'Calon']]
    

    simpen = df.groupby(['NomerDonor', 'NamaDonor', 'JKel', 'GolDrh'], as_index=False,
                        sort=False)['TanggalDonor', 'Umur'].max()
    global annd
    annd = pd.merge(dfs, simpen, on='NomerDonor', how='left')
    ann = annd[['NomerDonor', 'Calon']]
    return ann

time: 13.9 ms (started: 2022-06-26 22:45:30 +00:00)

##### ANN

###### ann

In [ ]:
# import pandas as pd
# dm = pd.read_csv('dummy ann updated.csv')
# dm = dm.fillna(0)
# sblme = dm
# rbcsdata = pd.read_csv('rbc untuk ann.csv')
# t = rbcsdata
# # merged = pd.merge(test, ctest, on=['NomerDonor'], how='left').fillna(0)

time: 1.07 ms (started: 2022-06-26 22:45:30 +00:00)

In [ ]:
# ctest = rbcsdata
# ctest = preprocann(ctest)
# ctest.rename(columns={ctest.columns[0]: 'a1', ctest.columns[1]: 'a2', ctest.columns[2]: 'a3'
# , ctest.columns[3]: 'a4', ctest.columns[4]: 'a5', ctest.columns[5]: 'a6', ctest.columns[6]: 'a7'
# , ctest.columns[7]: 'a8', ctest.columns[8]: 'a9', ctest.columns[9]: 'a10', ctest.columns[10]: 'a11'
# , ctest.columns[11]: 'a12', ctest.columns[12]: 'b1', ctest.columns[13]: 'b2', ctest.columns[14]: 'b3'
# , ctest.columns[15]: 'b4', ctest.columns[16]: 'b5', ctest.columns[17]: 'b6', ctest.columns[18]: 'b7'
# , ctest.columns[19]: 'b8', ctest.columns[20]: 'b9', ctest.columns[21]: 'b10', ctest.columns[22]: 'b11'
# , ctest.columns[23]: 'b12', ctest.columns[24]: 'c1', ctest.columns[25]: 'c2', ctest.columns[26]: 'c3'
# , ctest.columns[27]: 'c4', ctest.columns[28]: 'c5', ctest.columns[29]: 'c6', ctest.columns[30]: 'c7'
# , ctest.columns[31]: 'c8', ctest.columns[32]: 'c9', ctest.columns[33]: 'c10', ctest.columns[34]: 'c11'
# , ctest.columns[35]: 'c12', ctest.columns[36]: 'd1', ctest.columns[37]: 'd2', ctest.columns[38]: 'd3'
# , ctest.columns[39]: 'd4', ctest.columns[40]: 'd5', ctest.columns[41]: 'd6', ctest.columns[42]: 'd7'
# , ctest.columns[43]: 'd8', ctest.columns[44]: 'd9', ctest.columns[45]: 'd10', ctest.columns[46]: 'd11'
# , ctest.columns[47]: 'd12', ctest.columns[48]: 'e1', ctest.columns[49]: 'e2', ctest.columns[50]: 'e3'
# , ctest.columns[51]: 'e4', ctest.columns[52]: 'e5', ctest.columns[53]: 'e6', ctest.columns[54]: 'e7'
# , ctest.columns[55]: 'e8', ctest.columns[56]: 'e9', ctest.columns[57]: 'e10', ctest.columns[58]: 'e11'
# , ctest.columns[59]: 'e12'},inplace=True)
# ctest['NomerDonor'] = ctest.index
# ctest = ctest.reset_index(drop=True)
# t = t[['NomerDonor', 'Category']]
# testt = pd.merge(ctest, t, on=['NomerDonor'], how='inner')
# testt = testt.drop_duplicates()
# testt = testt.drop(['NomerDonor'], axis=1)

time: 2.49 ms (started: 2022-06-26 22:45:30 +00:00)

In [ ]:
# # sample = testt.sample(frac=0.9, random_state=1)
# dm = dm.merge(testt, how='outer')

time: 387 s (started: 2022-06-26 22:45:30 +00:00)

In [ ]:
# y = dm.Category
# x = dm.drop(columns='Category')

# from sklearn.preprocessing import OneHotEncoder

# y = OneHotEncoder(sparse=False)
# y = y.fit_transform(dm[['Category']])
# test_y = pd.DataFrame(y)

# test_y.rename(columns={ test_y.columns[0]: "Cat1", test_y.columns[1]: "Cat2", test_y.columns[2]: "Cat3",
#                     test_y.columns[3]: "Cat4",test_y.columns[4]: "Cat5"}, 
#           inplace=True)

# from sklearn.model_selection import train_test_split

# y.astype(int)
# x.astype(int)
# train_x, test_x, train_y, test_y = train_test_split(x,y,test_size=0.2, random_state=43)

time: 1.83 ms (started: 2022-06-26 22:45:30 +00:00)

In [ ]:
# # neural network
# import tensorflow as tf

# modelann = tf.keras.models.Sequential()
# # modelann.add(tf.keras.layers.Dense(units = 64, activation = 'relu', input_shape=(60,)))
# # modelann.add(tf.keras.layers.Dense(units = 128 , activation = 'relu', input_shape=(60,)))
# # modelann.add(tf.keras.layers.Dense(units = 256, activation = 'relu', input_shape=(60,)))
# modelann.add(tf.keras.layers.Dense(units = 1024, activation = 'sigmoid', input_shape=(60,)))
# # modelann.add(tf.keras.layers.Dropout(0.3))
# modelann.add(tf.keras.layers.Dense(units = 1024, activation = 'sigmoid'))
# # modelann.add(tf.keras.layers.Dropout(0.4))
# # # modelann.add(tf.keras.layers.Dense(units = 128, activation = 'relu'))
# # modelann.add(tf.keras.layers.Dropout(0.3))
# # modelann.add(tf.keras.layers.Dense(units = 64, activation = 'relu'))
# # modelann.add(tf.keras.layers.Dropout(0.3))
# # modelann.add(tf.keras.layers.Dense(units = 32, activation = 'relu'))
# # modelann.add(tf.keras.layers.Dense(units = 16, activation = 'relu'))
# # modelann.add(tf.keras.layers.Dropout(0.3))
# modelann.add(tf.keras.layers.Dense(units = 5, activation = 'sigmoid'))

# modelann.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])
# history = modelann.fit(train_x, train_y, validation_data = (test_x,test_y), epochs =20)

time: 2.55 ms (started: 2022-06-26 22:45:30 +00:00)

In [ ]:
# saveed = "modelannrbc100"
# tf.saved_model.save(modelann, saveed)

time: 476 s (started: 2022-06-26 22:45:30 +00:00)

In [ ]:
# # 0.35
# import matplotlib.pyplot as plt
# fig, ax = plt.subplots(1, figsize=(8,6))
# plt.plot(history.history['accuracy'])
# plt.plot(history.history['val_accuracy'])
# plt.title('Model accuracy')
# plt.ylabel('Accuracy')
# plt.xlabel('Epoch')
# plt.legend(['Train', 'Test'], loc='upper left')
# plt.show()

time: 1.53 ms (started: 2022-06-26 22:45:30 +00:00)

###### func

In [ ]:
from datetime import date

def ANNClass(model, df):
    dfs = preprocann(df)
    preds = []
    for i, r in dfs.iterrows():
          # print(r)
          l = []
          l.append(r)
          pred = model(l)
          preds.append([pred.numpy()[0][0], pred.numpy()[0][1], pred.numpy()[0][2], pred.numpy()[0][3], pred.numpy()[0][4]])
    ndfd = pd.DataFrame(preds, columns = ['Cat1', 'Cat2', 'Cat3', 'Cat4', 'Cat5'])
    ndfd['Category'] = (ndfd['Cat1']*0.2) + (ndfd['Cat2']*0.2) + (ndfd['Cat3']*0.2) + (ndfd['Cat4']*0.2) + (ndfd['Cat5']*0.2)
    
    # for i, r in ndfd.iterrows():
    #     ndfd.at[i,'Category'] = r.Cat1*0.2 + r.Cat2*0.2 + r.Cat3*0.2 + r.Cat4*0.2 + r.Cat5*0.2
    oldmax = ndfd.Category.max()  
    oldmin = ndfd.Category.min()
    OldRange = (oldmax - oldmin)
    NewRange = 4
    ndfd['Category'] = ((((ndfd['Category'] - oldmin) * NewRange)) / OldRange) + 1
    
    # for i, r in ndfd.iterrows():
    #    ndfd.at[i, 'Category'] = (float(((r.Category - oldmin) * NewRange)) / OldRange) + 1
    hasil = dfs
    hasil['Category'] = ndfd['Category'].values
    hasil['NomerDonor'] = hasil.index
    hasil = hasil[['NomerDonor', 'Category']]
    hasil = hasil.rename_axis(index=None, columns=None)
    ann = hasil
    simpen = df.groupby(['NomerDonor'], as_index=False, sort=False)['TanggalDonor'].max()
    annd = pd.merge(ann, simpen, on='NomerDonor', how='left')
    today = pd.to_datetime(date.today())
    annd['Recency'] = (today - annd['TanggalDonor']).dt.days
    ann = annd[['NomerDonor', 'Category', 'Recency']]
    ann["Category"] = pd.to_numeric(ann["Category"])
    return ann

time: 25.6 ms (started: 2022-06-26 22:45:30 +00:00)

In [ ]:
def ANNImplementation(model, df):
      dfs = preprocann(df)
      # preds = []
      # for i, r in dfs.iterrows():
      #     # print(r)
      #     l = []
      #     l.append(r)
      #     pred = model(l)
      #     preds.append([pred.numpy()[0][0], pred.numpy()[0][1], pred.numpy()[0][2], pred.numpy()[0][3], pred.numpy()[0][4]])
      ndfp = model.predict(dfs)
      ndfd = pd.DataFrame(ndfp, columns = ['Cat1', 'Cat2', 'Cat3', 'Cat4', 'Cat5'])

      # masi bukan find max!!!
      for i, r in ndfd.iterrows():
          ndfd.at[i,'Category'] = r.Cat1*0.2 + r.Cat2*0.2 + r.Cat3*0.2 + r.Cat4*0.2 + r.Cat5*0.2
      oldmax = ndfd.Category.max()  
      oldmin = ndfd.Category.min()
      OldRange = (oldmax - oldmin)
      NewRange = 4
      ndfd['Category'] = ((((ndfd['Category'] - oldmin) * NewRange)) / OldRange) + 1
    
      # for i, r in ndfd.iterrows():
      #    ndfd.at[i, 'Category'] = (float(((r.Category - oldmin) * NewRange)) / OldRange) + 1
      hasil = dfs
      hasil['Category'] = ndfd['Category'].values
      hasil['NomerDonor'] = hasil.index
      hasil = hasil[['NomerDonor', 'Category']]
      hasil = hasil.rename_axis(index=None, columns=None)
      ann = hasil
      simpen = df.groupby(['NomerDonor'], as_index=False, sort=False)['TanggalDonor'].max()
      annd = pd.merge(ann, simpen, on='NomerDonor', how='left')
      today = pd.to_datetime(date.today())
      annd['Recency'] = (today - annd['TanggalDonor']).dt.days
      ann = annd[['NomerDonor', 'Category', 'Recency']]
      ann["Category"] = pd.to_numeric(ann["Category"])
      return ann

time: 21.2 ms (started: 2022-06-26 22:45:30 +00:00)

##### RBC

In [ ]:
def recency(df):
    df["TanggalDonor"] = pd.to_datetime(df["TanggalDonor"])
    tenddate = pd.to_datetime(date.today())
    copydf = df[['NomerDonor','TanggalDonor']]
    copydf.sort_values(by='TanggalDonor', ascending = True, inplace=True)
    copydf["Counter"] = copydf.groupby(['NomerDonor']).cumcount(ascending=False) + 1
    df_r = copydf.loc[copydf['Counter'] <= 3]
    df_r["TanggalDonor"] = pd.to_datetime(df_r["TanggalDonor"])
    df_r = df_r.drop_duplicates(["NomerDonor", "TanggalDonor"])
    df_r["Recency1"] = (tenddate - df_r['TanggalDonor']).dt.days
    df_r["Recency3"] = df_r["Recency1"]
    df_r1 = df_r.groupby(['NomerDonor'], as_index=False).agg({"Recency1": np.min, "Recency3": np.mean, "Counter":np.max})
    df_r1["Recency3"] = np.round(df_r1["Recency3"], decimals = 2)
    df_r1 = df_r1[['NomerDonor', 'Recency1', 'Recency3']]
    return df_r1

def frequency(df):
    df["TanggalDonor"] = pd.to_datetime(df["TanggalDonor"])
    df_f = df.sort_values(by="TanggalDonor",ascending=True) \
        .set_index('TanggalDonor') \
        .last("12M")
    df_f['TanggalDonor'] = df_f.index
    df_f1 = df_f.groupby(
        by=['NomerDonor'], as_index=False)['TanggalDonor'].count()
    df_f1.columns = ['NomerDonor', 'Frequency1']
    df_sorted = df.sort_values(by="TanggalDonor",ascending=True) \
        .set_index('TanggalDonor')
    df_sorted['TanggalDonor'] = df_sorted.index
    df_f2 = df_sorted.groupby(
        by=['NomerDonor'], as_index=False)['TanggalDonor'].count()
    df_f2.columns = ['NomerDonor', 'Frequency']
    df_f = pd.merge(df_f2, df_f1, on=['NomerDonor'], how='left').fillna(0)
    return df_f

def intervalmean(df):
    df.TanggalDonor = pd.to_datetime(df.TanggalDonor, errors='coerce')
    df["IVT"] = df.groupby(['NomerDonor'], as_index=False)["TanggalDonor"].transform(lambda x: abs(x.shift(1) - x))
    df["IVT"] = df["IVT"].dt.days
    df["Interval"] = df["IVT"]
    df_p = df.groupby(['NomerDonor'], as_index=False).agg({"IVT": [np.max,np.min],
                                                           "Interval": [np.mean]})
    df_p.columns = ["".join(col).strip() for col in df_p.columns.values]
    df_p = df_p.fillna(0)
    df_p = df_p[['NomerDonor', 'Intervalmean']]
    return df_p

def preprocrbc(df):
    df['TanggalDonor']= pd.to_datetime(df['TanggalDonor'])
    months = df["TanggalDonor"].dt.year * 12 + df["TanggalDonor"].dt.month  # series
    df["Bulan"] = months - min(months) + 1
    df = df.loc[(df['Bulan'] >= df.Bulan.max()-59) & (df['Bulan'] <= df.Bulan.max())]
    # df['Bulan'] = df['Bulan']-48
    cdf = df[['NomerDonor', 'GolDrh']]
    cdf = cdf.drop_duplicates()
    cdf = pd.merge(cdf, recency(df), on=['NomerDonor'])
    cdf = pd.merge(cdf, frequency(df), on=['NomerDonor'])
    cdf = pd.merge(cdf, intervalmean(df), on=['NomerDonor'])
    return cdf

# RBC Implementation
def RBCimplementation(df):
    rbcdf = preprocrbc(df)
    for index, row in rbcdf.iterrows():
        if row.Recency1 <= 100 and row.Recency3 <= 182.0 and row.Intervalmean <= 120.0 and row.Frequency >= 3:
            rbcdf.at[index,'Category'] = 1
        elif row.Recency1 <= 182 and row.Recency3 <= 365.0 and row.Intervalmean <= 182.0 and row.Frequency >= 3:
            rbcdf.at[index,'Category'] = 2
        elif row.Recency1 <= 182:
            rbcdf.at[index,'Category'] = 3
        elif row.Recency1 <= 365:
            rbcdf.at[index,'Category'] = 4
        else:
            rbcdf.at[index,'Category'] = 5
    rbc = rbcdf[['NomerDonor', 'Category', 'Recency1']]
    rbc.rename(columns = {'Recency1':'Recency'}, inplace = True)
    return rbc

time: 89.5 ms (started: 2022-06-26 22:45:30 +00:00)

##### ANN (**nopred**)

In [ ]:
modelann = hub.load('modelannrbc10')

time: 281 ms (started: 2022-06-24 17:38:06 +00:00)

In [ ]:
donor = rating(df)
ann = ANNClass(modelann, df) 
ann.reset_index(drop = True, inplace = True)
# rated = rate2nopred(donor, ann)

time: 24.8 s (started: 2022-06-24 17:42:43 +00:00)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# donor = rating(df)
# ann = ANNClass(modelann, df) 
# ann.reset_index(drop = True, inplace = True)
rated = rate2nopred(donor, ann)

time: 14.8 s (started: 2022-06-24 17:43:08 +00:00)

##### RBC **(nopred)**

In [ ]:
donor = rating(df)
rbc = RBCimplementation(df)
rbc.reset_index(drop = True, inplace = True)
# rated = rate1nopred(donor, rbc)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

time: 45.9 s (started: 2022-06-26 23:28:21 +00:00)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
# df.loc[(df['NomerDonor'] == '002T073698')]

In [ ]:
# comb = pd.merge(df, rbc, on=['NomerDonor'], how='left')

time: 98.3 ms (started: 2022-06-26 23:29:07 +00:00)

In [ ]:
# comb.to_csv('hasilrbc.csv',  index = False)

time: 1.66 s (started: 2022-06-26 23:29:07 +00:00)

In [ ]:
rbc.loc[(rbc['Category'] == 1)]

Empty DataFrame
Columns: [NomerDonor, Category, Recency]
Index: []

time: 8.16 ms (started: 2022-06-26 22:41:56 +00:00)

In [ ]:
# rbc

       NomerDonor  Category  Recency
0      002T086874       2.0      152
1      0020155446       4.0      190
2      002T080168       4.0      198
3      0020005472       4.0      269
4      002I007125       2.0      168
...           ...       ...      ...
24255  002T096900       3.0      161
24256  002K002448       3.0      153
24257  0020058608       3.0      163
24258  002B166851       3.0      155
24259  0020089640       3.0      162

[24260 rows x 3 columns]

time: 15.2 ms (started: 2022-06-26 22:38:21 +00:00)

In [ ]:
# donor = rating(df)
# rbc = RBCimplementation(df)
# rbc.reset_index(drop = True, inplace = True)
rated = rate2nopred(donor, rbc)

time: 27.5 s (started: 2022-06-25 19:18:14 +00:00)

##### ANN (w/ pred)

In [ ]:
# comb = pd.merge(df, ann, on=['NomerDonor'], how='left')
# comb.to_csv('hasilann.csv',  index = False)

time: 2.85 s (started: 2022-06-26 22:51:42 +00:00)

In [ ]:
donor = rating(df)
ann = ANNClass(modelannrbc, df)
# pred = ANNpred(modelpred, df)
# pred.reset_index(drop = True, inplace = True)
# # ann.reset_index(drop = True, inplace = True)
# annpred = pd.merge(ann, pred, on=['NomerDonor'])
# rated = rate2pred(donor, annpred)

time: 23.3 s (started: 2022-06-26 23:30:03 +00:00)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# comb = pd.merge(df, ann, on=['NomerDonor'], how='left')
# comb.to_csv('hasilannrbc.csv',  index = False)

time: 1.11 s (started: 2022-06-26 23:30:26 +00:00)

##### RBC (w/ pred)

In [ ]:
donor = rating(df)
rbc = RBCimplementation(df)
pred = ANNpred(modelpred, df)
pred.reset_index(drop = True, inplace = True)
rbc.reset_index(drop = True, inplace = True)
rbcpred = pd.merge(pred, rbc, on=['NomerDonor'])
# rated = rate1pred(donor, rbcpred)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

time: 1min 7s (started: 2022-06-24 03:20:01 +00:00)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [ ]:
rated = rate2pred(donor, rbcpred)

time: 8.44 s (started: 2022-06-24 03:23:01 +00:00)

##### - - - als dari pycharm

In [ ]:
spark, sc = _initialize_spark()
jum = rated.NomerDonor.nunique()
annsdf = spark.createDataFrame(rated)
indexer1 = StringIndexer(inputCol="NomerDonor", outputCol="NomerDonorIndex")
transformed = indexer1.fit(annsdf).transform(annsdf)
# transformed.show()
indexer2 = StringIndexer(inputCol="GolDrh", outputCol="GolDrhIndex")
transformed = indexer2.fit(transformed).transform(transformed)
# transformed.show()
als1=ALS(maxIter=10,regParam=0.01,rank=25,userCol="GolDrhIndex",itemCol="NomerDonorIndex",ratingCol="Rating",coldStartStrategy="drop",nonnegative=True)
model=als1.fit(transformed)
trans = transformed.toPandas()
recs=model.recommendForAllUsers(jum).toPandas()
# recs

time: 33.1 s (started: 2022-06-24 17:51:26 +00:00)

In [ ]:
nrecs=recs.recommendations.apply(pd.Series) \
    .merge(recs, right_index = True, left_index = True) \
    .drop(["recommendations"], axis = 1) \
    .melt(id_vars = ['GolDrhIndex'], value_name = "recommendation") \
    .drop("variable", axis = 1) \
    .dropna()
nrecs=nrecs.sort_values('GolDrhIndex')
nrecs=pd.concat([nrecs['recommendation'].apply(pd.Series), nrecs['GolDrhIndex']], axis = 1)
nrecs.columns = [ 'NomerDonorIndex', 'Rating', 'GolDrhIndex']
md=transformed.select(transformed['GolDrh'],transformed['GolDrhIndex'],transformed['NomerDonor'],transformed['NomerDonorIndex'])
md=md.toPandas()
dict1 =dict(zip(md['GolDrhIndex'],md['GolDrh']))
dict2=dict(zip(md['NomerDonorIndex'],md['NomerDonor']))
nrecs['GolDrh']=nrecs['GolDrhIndex'].map(dict1)
nrecs['NomerDonor']=nrecs['NomerDonorIndex'].map(dict2)
nrecs=nrecs.sort_values('GolDrh')
nrecs.reset_index(drop=True, inplace=True)
new=nrecs[['GolDrh','NomerDonor','Rating']]
new['recommendations'] = list(new.NomerDonor)
res=new[['GolDrh','recommendations']]
res_new=res['recommendations'].groupby([res.GolDrh]).apply(list).reset_index()
# st.write(res_new)
# st.write(d22)
d22f = d22[['NomerDonor', 'GolDrh']]
d22f = d22f.merge(res_new, on='GolDrh', how='left')
# st.write(d22f)
for i, row in d22f.iterrows():
    if row.NomerDonor in row.recommendations:
        rank = row.recommendations.index(row.NomerDonor)+1
        score = 1.0/rank
        d22f.at[i, 'Rank'] = rank
        d22f.at[i, 'Score']  = score
    else:
        d22f.at[i, 'Rank'] = 0
        d22f.at[i, 'Score'] = 0
print(d22f.Score.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0.0003343489538208025
time: 37.8 s (started: 2022-06-24 17:51:59 +00:00)

## gapake

In [ ]:
d1 = df.loc[(df['TanggalDonor'] < '2022-01-01 00:00:00.999') & (df['TanggalDonor'] > '2021-01-01 00:00:00.999')]

t22 = d1.TanggalDonor.nunique()
t22

60552

time: 40.8 ms (started: 2022-07-01 06:53:17 +00:00)

In [ ]:
data = [['2015', t15], ['2016', t16], ['2017', t17], ['2018', t18], ['2019', t19], ['2020', t20], ['2021', t21], ['2022', t22]]
 
# Create the pandas DataFrame
jum = pd.DataFrame(data, columns=['Year', 'Unique Donors'])

time: 3.29 ms (started: 2022-06-26 17:02:37 +00:00)

In [ ]:
df.Lokasi.nunique()

445

time: 16.2 ms (started: 2022-06-26 17:21:41 +00:00)

In [ ]:
d1 = df.loc[(df['TanggalDonor'] < '2022-02-01 00:00:00.999') & (df['TanggalDonor'] > '2022-01-01 00:00:00.999')]

In [ ]:
d1.NoKantong.duplicated().sum()

0

time: 8.02 ms (started: 2022-07-01 06:52:33 +00:00)

In [ ]:
print(d1[d1['Lokasi'] != 'UTD PMI SURABAYA'].NomerDonor.nunique())

11841
time: 17.1 ms (started: 2022-07-01 06:55:36 +00:00)

In [ ]:
df[df['Umur'] > 65].NomerDonor.nunique()

511

time: 22.8 ms (started: 2022-06-26 18:30:25 +00:00)

In [ ]:
filter = df[['NomerDonor', 'NamaDonor', 'Umur', 'JKel', 'TanggalDonor', 'Lokasi', 'Volume']]

time: 15.8 ms (started: 2022-06-26 18:47:06 +00:00)

In [ ]:
filter[filter['NomerDonor'] == '0020007097']

,NomerDonor,NamaDonor,Umur,JKel,TanggalDonor,Lokasi,Volume
52828,0020007097,DEDIK PURWANTO,45,Pria,2015-03-06 12:56:05.070,PT. AGRINDO,350 cc
52829,0020007097,DEDIK PURWANTO,45,Pria,2015-06-05 12:36:02.820,PT. AGRINDO,350 cc
52830,0020007097,DEDIK PURWANTO,45,Pria,2015-09-11 09:48:06.000,PT. AGRINDO,350 cc
52831,0020007097,DEDIK PURWANTO,45,Pria,2015-12-04 09:50:16.000,PT. AGRINDO,350 cc
52832,0020007097,DEDIK PURWANTO,46,Pria,2016-03-04 10:03:07.000,PT. AGRINDO,350 cc
52833,0020007097,DEDIK PURWANTO,46,Pria,2016-09-09 09:56:38.000,PT. AGRINDO,350 cc
52834,0020007097,DEDIK PURWANTO,46,Pria,2016-12-29 16:41:15.000,MOBIL UNIT I UDD PMI KOTA SBY,350 cc
52835,0020007097,DEDIK PURWANTO,47,Pria,2017-04-09 08:10:59.000,UPN VETERAN/PRAMUKA,350 cc
52836,0020007097,DEDIK PURWANTO,47,Pria,2017-06-09 19:57:12.000,HARMONIS TAMAN BUNGKUL,350 cc
52837,0020007097,DEDIK PURWANTO,47,Pria,2017-12-28 15:19:25.000,MOBIL UNIT I UDD PMI KOTA SBY,350 cc
52838,0020007097,DEDIK PURWANTO,48,Pria,2018-05-15 18:23:18.000,HARMONIS TAMAN BUNGKUL,350 cc
52839,0020007097,DEDIK PURWANTO,48,Pria,2018-08-24 08:56:48.000,PT. AGRINDO,350 cc
52840,0020007097,DEDIK PURWANTO,48,Pria,2018-11-16 09:30:52.000,PT. AGRINDO,350 cc
52841,0020007097,DEDIK PURWANTO,49,Pria,2019-02-08 09:42:31.000,PT. AGRINDO,350 cc
52842,0020007097,DEDIK PURWANTO,49,Pria,2019-05-06 18:25:04.000,HARMONIS TAMAN BUNGKUL,350 cc
52843,0020007097,DEDIK PURWANTO,49,Pria,2019-08-02 08:38:58.000,PT. AGRINDO,350 cc
52844,0020007097,DEDIK PURWANTO,49,Pria,2019-12-09 18:30:49.117,UTD PMI SURABAYA,450 cc

time: 27.3 ms (started: 2022-06-26 18:47:07 +00:00)

In [ ]:
d22[d22['NomerDonor'] == '0020007097']

Empty DataFrame
Columns: [NomerDonor, NamaDonor, NoKantong, TanggalDonor, Umur, JKel, Lokasi, Volume, JenisKantong, BloodType, NoTlp, Email, GolDrh]
Index: []

time: 9.3 ms (started: 2022-06-26 18:22:00 +00:00)

In [ ]:
d22[d22['Lokasi'] == 'UTD PMI SURABAYA'].NomerDonor.unique()

array(['002T080168', '002T057271', '002A162503', ..., '002M019071',
       '002T050931', '002T006097'], dtype=object)

time: 7.64 ms (started: 2022-06-26 18:06:14 +00:00)

In [ ]:
import numpy as np

time: 1.48 ms (started: 2022-07-01 08:05:56 +00:00)

In [ ]:
df.TanggalDonor = pd.to_datetime(df.TanggalDonor, errors='coerce')
df["IVT"] = df.groupby(['NomerDonor'], as_index=False)["TanggalDonor"].transform(lambda x: abs(x.shift(1) - x))
df["IVT"] = df["IVT"].dt.days
df["Interval"] = df["IVT"]
df_p = df.groupby(['NomerDonor'], as_index=False).agg({"IVT": [np.max,np.min],
                                                        "Interval": [np.mean]})
df_p.columns = ["".join(col).strip() for col in df_p.columns.values]
df_p = df_p.fillna(0)
df_p = df_p[['NomerDonor', 'Intervalmean']]

time: 48.8 s (started: 2022-07-01 08:47:58 +00:00)

In [ ]:
df_p

In [ ]:
df_p.Intervalmean.quantile([0.2,0.5,0.75])

0.20     86.427068
0.50    115.125000
0.75    150.400000
Name: Intervalmean, dtype: float64

time: 9.55 ms (started: 2022-07-01 08:43:36 +00:00)

In [ ]:
df["TanggalDonor"] = pd.to_datetime(df["TanggalDonor"])
tenddate = pd.to_datetime(date.today())
copydf = df[['NomerDonor','TanggalDonor']]
copydf.sort_values(by='TanggalDonor', ascending = True, inplace=True)
copydf["Counter"] = copydf.groupby(['NomerDonor']).cumcount(ascending=False) + 1
df_r = copydf.loc[copydf['Counter'] <= 3]
df_r["TanggalDonor"] = pd.to_datetime(df_r["TanggalDonor"])
df_r = df_r.drop_duplicates(["NomerDonor", "TanggalDonor"])
df_r["Recency1"] = (tenddate - df_r['TanggalDonor']).dt.days
df_r["Recency3"] = df_r["Recency1"]
df_r1 = df_r.groupby(['NomerDonor'], as_index=False).agg({"Recency1": np.min, "Recency3": np.mean, "Counter":np.max})
df_r1["Recency3"] = np.round(df_r1["Recency3"], decimals = 2)
df_r1 = df_r1[['NomerDonor', 'Recency1', 'Recency3']]

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

time: 475 ms (started: 2022-07-01 08:54:11 +00:00)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
df_r1[df_r1['Recency3'] < 240]

       NomerDonor  Recency1  Recency3
23     0020000325       160    232.33
26     0020000351       164    231.67
31     0020000369       150    219.33
37     0020000417       165    235.67
43     0020000450       159    218.33
...           ...       ...       ...
26482  002T182113       164    226.33
26486  002T182252       193    224.50
26487  002T182263       158    232.67
26497  002T182623       152    225.67
26498  002T182657       184    216.50

[1784 rows x 3 columns]

time: 18.4 ms (started: 2022-07-01 09:05:54 +00:00)

In [ ]:
df_r1.Recency3.quantile([0.1,0.5,0.75])

In [ ]:
import pandas as pd
 
# initialise data of lists.
data = {'Name':[20, 10, 15, 10], 'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)

In [ ]:
df

   Name  Age  hasil
0    20   20  200.0
1    10   21  105.0
2    15   19  142.5
3    10   18   90.0

In [ ]:
df['Lebih'] = 1

In [ ]:
df[df.hasil < 100]['Lebih'] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df

   Name  Age  hasil  Lebih   lebih  lebihh  akhir
0    20   20  200.0      5  4400.0     200  220.0
1    10   21  105.0      5  1260.0     210  378.0
2    15   19  142.5      5  2422.5     190    0.0
3    10   18   90.0      0     0.0     180    0.0

In [ ]:
df.loc[(df['Lebih'] == 0) & (df['lebihh'] >= 200), 'akhir'] = (df['hasil']+df['Age'])*3
df.loc[(df['Lebih'] == 1) & (df['lebihh'] >= 200), 'akhir'] = (df['hasil']+df['Age'])*1

In [ ]:
df.loc[df['hasil'] < df['lebih'], 'Lebih'] = 5

In [ ]:
df = df.drop(columns=['akhir'])

In [ ]:
data = {'Name':[20, 10], 'Age':[20, 21]}
data = pd.DataFrame(data)

In [ ]:
df1 = pd.concat([df, data]).drop_duplicates(subset=['Name', 'Age'], keep=False)

In [ ]:
df1

   Name  Age  hasil  Lebih   lebih  lebihh  akhir
2    15   19  142.5    5.0  2422.5   190.0    0.0
3    10   18   90.0    0.0     0.0   180.0    0.0

### ann + 10% rbc --------------------------------------------------------------------------------

#### _ before corona (2015-2019)

##### --- read df

###### - - - df

In [ ]:
jenis = ['Triple', 'Quadruple', 'Single', 'Double Besar']

In [ ]:
import pandas as pd
df = pd.read_csv('d15-19.csv')
df.JenisKantong = df.JenisKantong.str.title()
df = df[df['JenisKantong'].isin(jenis)]

In [ ]:
d22 = df.loc[(df['TanggalDonor'] > '2019-11-30 11:59:59.999')]
d22 = d22.loc[(d22['Lokasi'] == 'UTD PMI SURABAYA')]

In [ ]:
df = df.loc[(df['TanggalDonor'] <= '2019-11-30 11:59:59.999')]

In [ ]:
d22 = d22[d22.NomerDonor.isin(df.NomerDonor)]

###### - - - test

In [ ]:
jenis = ['Triple', 'Quadruple', 'Single', 'Double Besar']

In [ ]:
import pandas as pd
test = pd.read_csv('d15-19.csv')
test.JenisKantong = test.JenisKantong.str.title()
test = test[test['JenisKantong'].isin(jenis)]

In [ ]:
test.JenisKantong.unique()

##### --- data training

In [ ]:
import pandas as pd
dm = pd.read_csv('dummy ann updated.csv')

In [ ]:
dm = dm.fillna(0)

In [ ]:
ctest = pd.read_csv('rbc untuk ann.csv')
# merged = pd.merge(test, ctest, on=['NomerDonor'], how='left').fillna(0)

In [ ]:
t = ctest

In [ ]:
def preproc(df):
  df['TanggalDonor']= pd.to_datetime(df['TanggalDonor'])
  months = df["TanggalDonor"].dt.year * 12 + df["TanggalDonor"].dt.month  # series
  df["Bulan"] = months - min(months) + 1
  df = df.loc[(df['Bulan'] >= df.Bulan.max()-59) & (df['Bulan'] <= df.Bulan.max())]
    # print(df.Bulan.max())
  # df['Bulan'] = df['Bulan']-48
  ndf=df[['NomerDonor']].join(pd.get_dummies(df['Bulan'])).groupby('NomerDonor').max()
  if df.Bulan.max() <60:
    ndf.insert(0, 'a1', 0)
  return ndf

In [ ]:
ctest = preproc(ctest)

In [ ]:
ctest.rename(columns={ctest.columns[0]: 'a1', ctest.columns[1]: 'a2', ctest.columns[2]: 'a3'
, ctest.columns[3]: 'a4', ctest.columns[4]: 'a5', ctest.columns[5]: 'a6', ctest.columns[6]: 'a7'
, ctest.columns[7]: 'a8', ctest.columns[8]: 'a9', ctest.columns[9]: 'a10', ctest.columns[10]: 'a11'
, ctest.columns[11]: 'a12', ctest.columns[12]: 'b1', ctest.columns[13]: 'b2', ctest.columns[14]: 'b3'
, ctest.columns[15]: 'b4', ctest.columns[16]: 'b5', ctest.columns[17]: 'b6', ctest.columns[18]: 'b7'
, ctest.columns[19]: 'b8', ctest.columns[20]: 'b9', ctest.columns[21]: 'b10', ctest.columns[22]: 'b11'
, ctest.columns[23]: 'b12', ctest.columns[24]: 'c1', ctest.columns[25]: 'c2', ctest.columns[26]: 'c3'
, ctest.columns[27]: 'c4', ctest.columns[28]: 'c5', ctest.columns[29]: 'c6', ctest.columns[30]: 'c7'
, ctest.columns[31]: 'c8', ctest.columns[32]: 'c9', ctest.columns[33]: 'c10', ctest.columns[34]: 'c11'
, ctest.columns[35]: 'c12', ctest.columns[36]: 'd1', ctest.columns[37]: 'd2', ctest.columns[38]: 'd3'
, ctest.columns[39]: 'd4', ctest.columns[40]: 'd5', ctest.columns[41]: 'd6', ctest.columns[42]: 'd7'
, ctest.columns[43]: 'd8', ctest.columns[44]: 'd9', ctest.columns[45]: 'd10', ctest.columns[46]: 'd11'
, ctest.columns[47]: 'd12', ctest.columns[48]: 'e1', ctest.columns[49]: 'e2', ctest.columns[50]: 'e3'
, ctest.columns[51]: 'e4', ctest.columns[52]: 'e5', ctest.columns[53]: 'e6', ctest.columns[54]: 'e7'
, ctest.columns[55]: 'e8', ctest.columns[56]: 'e9', ctest.columns[57]: 'e10', ctest.columns[58]: 'e11'
, ctest.columns[59]: 'e12'},inplace=True)

In [ ]:
ctest['NomerDonor'] = ctest.index
ctest = ctest.reset_index(drop=True)

In [ ]:
t = t[['NomerDonor', 'Category']]

In [ ]:
testt = pd.merge(ctest, t, on=['NomerDonor'], how='inner')
testt = testt.drop_duplicates()
testt = testt.drop(['NomerDonor'], axis=1)

In [ ]:
sample = testt.sample(frac=0.1, random_state=1)

In [ ]:
sample

In [ ]:
dm = dm.merge(sample, how='outer')

In [ ]:
y = dm.Category
x = dm.drop(columns='Category')

In [ ]:
from sklearn.preprocessing import OneHotEncoder

y = OneHotEncoder(sparse=False)
y = y.fit_transform(dm[['Category']])
test_y = pd.DataFrame(y)

In [ ]:
test_y.rename(columns={ test_y.columns[0]: "Cat1", test_y.columns[1]: "Cat2", test_y.columns[2]: "Cat3",
                    test_y.columns[3]: "Cat4",test_y.columns[4]: "Cat5"}, 
          inplace=True)

In [ ]:
from sklearn.model_selection import train_test_split

y.astype(int)
x.astype(int)
train_x, test_x, train_y, test_y = train_test_split(x,y,test_size=0.2, random_state=43)

##### --- training & testing

In [ ]:
# neural network
import tensorflow as tf

model = tf.keras.models.Sequential()
# model.add(tf.keras.layers.Dense(units = 64, activation = 'relu', input_shape=(60,)))
# model.add(tf.keras.layers.Dense(units = 128 , activation = 'relu', input_shape=(60,)))
model.add(tf.keras.layers.Dense(units = 256, activation = 'relu', input_shape=(60,)))
# model.add(tf.keras.layers.Dropout(0.3))
# model.add(tf.keras.layers.Dense(units = 128, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.4))
# # model.add(tf.keras.layers.Dense(units = 128, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.3))
# model.add(tf.keras.layers.Dense(units = 64, activation = 'relu'))
model.add(tf.keras.layers.Dropout(0.3))
# model.add(tf.keras.layers.Dense(units = 32, activation = 'relu'))
# model.add(tf.keras.layers.Dense(units = 16, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.3))
model.add(tf.keras.layers.Dense(units = 5, activation = 'softmax'))

model.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])
history = model.fit(train_x, train_y, validation_data = (test_x,test_y), epochs =20)

In [ ]:
pred_y = model.predict(test_x)
test_loss, test_accuracy = model.evaluate(test_x, test_y)
print(test_loss, test_accuracy)

In [ ]:
# 0.35
import matplotlib.pyplot as plt
fig, ax = plt.subplots(1, figsize=(8,6))
plt.plot(history.history['accuracy'])
plt.plot(history.history['val_accuracy'])
plt.title('Model accuracy')
plt.ylabel('Accuracy')
plt.xlabel('Epoch')
plt.legend(['Train', 'Test'], loc='upper left')
plt.show()

##### --- implementation

In [ ]:
def preproc(df):
  df['TanggalDonor']= pd.to_datetime(df['TanggalDonor'])
  months = df["TanggalDonor"].dt.year * 12 + df["TanggalDonor"].dt.month  # series
  df["Bulan"] = months - min(months) + 1
  df = df.loc[(df['Bulan'] >= df.Bulan.max()-59) & (df['Bulan'] <= df.Bulan.max())]
    # print(df.Bulan.max())
  # df['Bulan'] = df['Bulan']-48
  ndf=df[['NomerDonor']].join(pd.get_dummies(df['Bulan'])).groupby('NomerDonor').max()
  if df.Bulan.max() <60:
    ndf.insert(0, 'a1', 0)
  return ndf

In [ ]:
dfs = preproc(df)
dfs

In [ ]:
ndfp = model.predict(dfs)

In [ ]:
ndfd = pd.DataFrame(ndfp, columns = ['Cat1', 'Cat2', 'Cat3', 'Cat4', 'Cat5'])

In [ ]:
for i, r in ndfd.iterrows():
  ndfd.at[i,'Category']  = (0.2 * r.Cat1) + (0.2 * r.Cat2) + (0.2 * r.Cat3) + (0.2 * r.Cat4) + (0.2 * r.Cat5)

In [ ]:
oldmax = ndfd.Category.max()  
oldmin = ndfd.Category.min()
OldRange = (oldmax - oldmin)
NewRange = 4
for i, r in ndfd.iterrows():
  ndfd.at[i, 'Category'] = (float(((r.Category - oldmin) * NewRange)) / OldRange) + 1

In [ ]:
hasil = dfs
hasil['Category'] = ndfd['Category'].values
hasil['NomerDonor'] = hasil.index
hasil = hasil[['NomerDonor', 'Category']]

In [ ]:
hasil = hasil.rename_axis(index=None, columns=None)

In [ ]:
ann = hasil

In [ ]:
simpen = df.groupby(['NomerDonor'], as_index=False, sort=False)['TanggalDonor'].max()
annd = pd.merge(ann, simpen, on='NomerDonor', how='left')

In [ ]:
from datetime import date

today = pd.to_datetime(date.today())
today = annd['TanggalDonor'].max()
annd['Recency'] = (today - annd['TanggalDonor']).dt.days

In [ ]:
ann = annd[['NomerDonor', 'Category', 'Recency']]

In [ ]:
ann.Category.unique()

##### --- rankin

###### - - - df ranking

In [ ]:
donor = df[['NomerDonor', 'TanggalDonor', 'BloodType', 'JKel', 'Lokasi', 'Umur']]
donor = donor.drop_duplicates()

In [ ]:
donor

In [ ]:
for index, row in donor.iterrows():
  if row.Umur >= 65:
    donor.at[index,'AgeCat'] = 0
  else:
    donor.at[index,'AgeCat'] = 3
  if row.JKel == 'Pria':
    donor.at[index,'JKCat'] = 3
  else:
    donor.at[index,'JKCat'] = 2

In [ ]:
lok = 'UTD PMI SURABAYA'
location = donor.query(str("Lokasi == '") + lok + "'").groupby('NomerDonor').count()

In [ ]:
location = location[['BloodType']]
location.columns = ['Loc']
location['NomerDonor'] = location.index

In [ ]:
location = location.rename_axis(index=None, columns=None)

In [ ]:
donor = pd.merge(donor, location, on=['NomerDonor'])

In [ ]:
maks = donor['Loc'].max()

In [ ]:
donor['Loc'] = donor['Loc']/maks

In [ ]:
donor = donor[['NomerDonor', 'TanggalDonor', 'BloodType', 'AgeCat', 'JKCat', 'Loc']]

In [ ]:
donor = donor.sort_values('TanggalDonor')

###### - - - ranking bkn desimal

In [ ]:
import pandas as pd
# ann = pd.read_csv('classifiedann.csv')

In [ ]:
anndf = pd.merge(donor, ann, on=['NomerDonor'])

In [ ]:
for i, r in anndf.iterrows():
  if r.Recency <= 60:
    anndf.at[i, 'Rating'] = 0
  else:
    anndf.at[i, 'Rating'] = ((r.Category*2) + r.AgeCat + r.JKCat)

In [ ]:
anndf = anndf[['NomerDonor', 'BloodType', 'Rating']]

In [ ]:
oldmax = anndf.Rating.max()  
oldmin = anndf.Rating.min()
OldRange = (oldmax - oldmin)
NewRange = 4
for i, r in anndf.iterrows():
  anndf.at[i, 'Rating'] = (float(((r.Rating - oldmin) * NewRange)) / OldRange) + 1

In [ ]:
anndf.Rating.sort_values().unique()

In [ ]:
# anndf.info()

In [ ]:
anndf['NomerDonor'] = anndf.NomerDonor.astype(int)

In [ ]:
from google.colab import files
# anndf.to_csv('ann + 10 no8.csv', index=False) 
# files.download('no4.csv')

##### --- als

###### - - - als

In [ ]:
import pandas as pd
anndf = pd.read_csv('ann + 10 no8.csv')

In [ ]:
jum = anndf.NomerDonor.nunique()

###### - - - gapt

In [ ]:
!pip install pyspark

In [ ]:
import pyspark
sc = pyspark.SparkContext(appName="PMI")

In [ ]:
sql = pyspark.SQLContext(sc)

In [ ]:
#sql
from pyspark.sql import SparkSession
spark = SparkSession(sc)

###### - - - start

In [ ]:
annsdf=spark.createDataFrame(anndf) 
# annsdf.printSchema()
# annsdf.show()

In [ ]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.ml.tuning import TrainValidationSplit, ParamGridBuilder, CrossValidator

#Misah antara data training dan data test
# (training, test) = annsdf.randomSplit([0.8, 0.2])

#buat ALS model, col-colnya paten BTW harus ada user, item yang diprediksi dan rating
als1=ALS(maxIter=10,regParam=0.01,rank=25,userCol="BloodType",itemCol="NomerDonor",ratingCol="Rating",coldStartStrategy="drop",nonnegative=True)
model=als1.fit(annsdf)

In [ ]:
bloodfoc = model.recommendForAllUsers(jum)

In [ ]:
bloodfoc.select("BloodType", "recommendations.NomerDonor", 'recommendations.Rating').show(10, False)

###### MRR ANN

In [ ]:
model_df = bloodfoc.select("BloodType", "recommendations.NomerDonor")
model_df.show(5, False)

In [ ]:
#rename
model_df = model_df.withColumnRenamed("BloodType","BloodTypeModel") 
model_df = model_df.withColumnRenamed("NomerDonor","NomerDonorRanking")

In [ ]:
d22b = spark.createDataFrame(d22)
d22b.printSchema()
d22b.show(5)

In [ ]:
#join table sample dan model yang sudah dibuat
joined_df = d22b.join(model_df, d22b.BloodType == model_df.BloodTypeModel)
joined_df.show(3)

In [ ]:
joined_df.createOrReplaceTempView("joined_df")

In [ ]:
def reciprocal_rank(row):
    if row['NomerDonor'] in row['NomerDonorRanking']:
        rank = row['NomerDonorRanking'].index(row['NomerDonor']) + 1
        score = 1.0/float(rank)
    else:
        rank = 0
        score = 0.0
    return (row[0], row[1], row[9], rank, score)

In [ ]:
#get reciprocal score for all event type
rr_all = joined_df.rdd.map(reciprocal_rank).toDF(['NomerDonor', 'NamaDonor','BloodType', 'Ranking', 'reciprocal_score'])
rr_all.show(20, False)

In [ ]:
rr_all.createOrReplaceTempView("rr_all")

In [ ]:
# sumdf = spark.sql("")
# sumdf.show()

In [ ]:
sumdf = spark.sql("select count(*) from rr_all")
sumdf.show()

In [ ]:
sumdf = spark.sql("select count(*) from rr_all where reciprocal_score > 0.0")
sumdf.show()

In [ ]:
sumdf = spark.sql("select * from rr_all where reciprocal_score <= 0.0")
sumdf.show()

In [ ]:
all_mrr = rr_all.agg({"reciprocal_score":"avg"}).collect()[0]['avg(reciprocal_score)']

In [ ]:
all_mrr

### ann + 20% rbc --------------------------------------------------------------------------------

#### _ before corona (2015-2019)

##### --- read df

###### - - - df

In [ ]:
jenis = ['Triple', 'Quadruple', 'Single', 'Double Besar']

In [ ]:
import pandas as pd
df = pd.read_csv('d15-19.csv')
df.JenisKantong = df.JenisKantong.str.title()
df = df[df['JenisKantong'].isin(jenis)]

In [ ]:
d22 = df.loc[(df['TanggalDonor'] > '2019-11-30 11:59:59.999')]
d22 = d22.loc[(d22['Lokasi'] == 'UTD PMI SURABAYA')]

In [ ]:
df = df.loc[(df['TanggalDonor'] <= '2019-11-30 11:59:59.999')]

In [ ]:
d22 = d22[d22.NomerDonor.isin(df.NomerDonor)]

##### --- data training

In [ ]:
import pandas as pd
dm = pd.read_csv('dummy ann updated.csv')

In [ ]:
dm = dm.fillna(0)

In [ ]:
ctest = pd.read_csv('rbc untuk ann.csv')
# merged = pd.merge(test, ctest, on=['NomerDonor'], how='left').fillna(0)

In [ ]:
t = ctest

In [ ]:
def preproc(df):
  df['TanggalDonor']= pd.to_datetime(df['TanggalDonor'])
  months = df["TanggalDonor"].dt.year * 12 + df["TanggalDonor"].dt.month  # series
  df["Bulan"] = months - min(months) + 1
  df = df.loc[(df['Bulan'] >= df.Bulan.max()-59) & (df['Bulan'] <= df.Bulan.max())]
    # print(df.Bulan.max())
  # df['Bulan'] = df['Bulan']-48
  ndf=df[['NomerDonor']].join(pd.get_dummies(df['Bulan'])).groupby('NomerDonor').max()
  if df.Bulan.max() <60:
    ndf.insert(0, 'a1', 0)
  return ndf

In [ ]:
ctest = preproc(ctest)

In [ ]:
ctest.rename(columns={ctest.columns[0]: 'a1', ctest.columns[1]: 'a2', ctest.columns[2]: 'a3'
, ctest.columns[3]: 'a4', ctest.columns[4]: 'a5', ctest.columns[5]: 'a6', ctest.columns[6]: 'a7'
, ctest.columns[7]: 'a8', ctest.columns[8]: 'a9', ctest.columns[9]: 'a10', ctest.columns[10]: 'a11'
, ctest.columns[11]: 'a12', ctest.columns[12]: 'b1', ctest.columns[13]: 'b2', ctest.columns[14]: 'b3'
, ctest.columns[15]: 'b4', ctest.columns[16]: 'b5', ctest.columns[17]: 'b6', ctest.columns[18]: 'b7'
, ctest.columns[19]: 'b8', ctest.columns[20]: 'b9', ctest.columns[21]: 'b10', ctest.columns[22]: 'b11'
, ctest.columns[23]: 'b12', ctest.columns[24]: 'c1', ctest.columns[25]: 'c2', ctest.columns[26]: 'c3'
, ctest.columns[27]: 'c4', ctest.columns[28]: 'c5', ctest.columns[29]: 'c6', ctest.columns[30]: 'c7'
, ctest.columns[31]: 'c8', ctest.columns[32]: 'c9', ctest.columns[33]: 'c10', ctest.columns[34]: 'c11'
, ctest.columns[35]: 'c12', ctest.columns[36]: 'd1', ctest.columns[37]: 'd2', ctest.columns[38]: 'd3'
, ctest.columns[39]: 'd4', ctest.columns[40]: 'd5', ctest.columns[41]: 'd6', ctest.columns[42]: 'd7'
, ctest.columns[43]: 'd8', ctest.columns[44]: 'd9', ctest.columns[45]: 'd10', ctest.columns[46]: 'd11'
, ctest.columns[47]: 'd12', ctest.columns[48]: 'e1', ctest.columns[49]: 'e2', ctest.columns[50]: 'e3'
, ctest.columns[51]: 'e4', ctest.columns[52]: 'e5', ctest.columns[53]: 'e6', ctest.columns[54]: 'e7'
, ctest.columns[55]: 'e8', ctest.columns[56]: 'e9', ctest.columns[57]: 'e10', ctest.columns[58]: 'e11'
, ctest.columns[59]: 'e12'},inplace=True)

In [ ]:
ctest['NomerDonor'] = ctest.index
ctest = ctest.reset_index(drop=True)

In [ ]:
t = t[['NomerDonor', 'Category']]

In [ ]:
testt = pd.merge(ctest, t, on=['NomerDonor'], how='inner')
testt = testt.drop_duplicates()
testt = testt.drop(['NomerDonor'], axis=1)

In [ ]:
sample = testt.sample(frac=0.2, random_state=1)

In [ ]:
dm = dm.merge(sample, how='outer')

In [ ]:
y = dm.Category
x = dm.drop(columns='Category')

In [ ]:
from sklearn.preprocessing import OneHotEncoder

y = OneHotEncoder(sparse=False)
y = y.fit_transform(dm[['Category']])
test_y = pd.DataFrame(y)

In [ ]:
test_y.rename(columns={ test_y.columns[0]: "Cat1", test_y.columns[1]: "Cat2", test_y.columns[2]: "Cat3",
                    test_y.columns[3]: "Cat4",test_y.columns[4]: "Cat5"}, 
          inplace=True)

In [ ]:
from sklearn.model_selection import train_test_split

y.astype(int)
x.astype(int)
train_x, test_x, train_y, test_y = train_test_split(x,y,test_size=0.2, random_state=43)

##### --- training & testing

In [ ]:
# neural network
import tensorflow as tf

model = tf.keras.models.Sequential()
# model.add(tf.keras.layers.Dense(units = 64, activation = 'relu', input_shape=(60,)))
# model.add(tf.keras.layers.Dense(units = 128 , activation = 'relu', input_shape=(60,)))
model.add(tf.keras.layers.Dense(units = 256, activation = 'relu', input_shape=(60,)))
# model.add(tf.keras.layers.Dropout(0.3))
# model.add(tf.keras.layers.Dense(units = 128, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.4))
# # model.add(tf.keras.layers.Dense(units = 128, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.3))
# model.add(tf.keras.layers.Dense(units = 64, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.3))
model.add(tf.keras.layers.Dense(units = 32, activation = 'relu'))
# model.add(tf.keras.layers.Dense(units = 16, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.3))
model.add(tf.keras.layers.Dense(units = 5, activation = 'softmax'))

model.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])
history = model.fit(train_x, train_y, validation_data = (test_x,test_y), epochs =20)

In [ ]:
pred_y = model.predict(test_x)
test_loss, test_accuracy = model.evaluate(test_x, test_y)
print(test_loss, test_accuracy)

In [ ]:
# 0.35
import matplotlib.pyplot as plt
fig, ax = plt.subplots(1, figsize=(8,6))
plt.plot(history.history['accuracy'])
plt.plot(history.history['val_accuracy'])
plt.title('Model accuracy')
plt.ylabel('Accuracy')
plt.xlabel('Epoch')
plt.legend(['Train', 'Test'], loc='upper left')
plt.show()

##### --- implementation

In [ ]:
def preproc(df):
  df['TanggalDonor']= pd.to_datetime(df['TanggalDonor'])
  months = df["TanggalDonor"].dt.year * 12 + df["TanggalDonor"].dt.month  # series
  df["Bulan"] = months - min(months) + 1
  df = df.loc[(df['Bulan'] >= df.Bulan.max()-59) & (df['Bulan'] <= df.Bulan.max())]
    # print(df.Bulan.max())
  # df['Bulan'] = df['Bulan']-48
  ndf=df[['NomerDonor']].join(pd.get_dummies(df['Bulan'])).groupby('NomerDonor').max()
  if df.Bulan.max() <60:
    ndf.insert(0, 'a1', 0)
  return ndf

In [ ]:
dfs = preproc(df)
dfs

In [ ]:
ndfp = model.predict(dfs)

In [ ]:
ndfd = pd.DataFrame(ndfp, columns = ['Cat1', 'Cat2', 'Cat3', 'Cat4', 'Cat5'])

In [ ]:
for i, r in ndfd.iterrows():
  ndfd.at[i,'Category']  = (0.2 * r.Cat1) + (0.2 * r.Cat2) + (0.2 * r.Cat3) + (0.2 * r.Cat4) + (0.2 * r.Cat5)

In [ ]:
oldmax = ndfd.Category.max()  
oldmin = ndfd.Category.min()
OldRange = (oldmax - oldmin)
NewRange = 4
for i, r in ndfd.iterrows():
  ndfd.at[i, 'Category'] = (float(((r.Category - oldmin) * NewRange)) / OldRange) + 1

In [ ]:
hasil = dfs
hasil['Category'] = ndfd['Category'].values
hasil['NomerDonor'] = hasil.index
hasil = hasil[['NomerDonor', 'Category']]

In [ ]:
hasil = hasil.rename_axis(index=None, columns=None)

In [ ]:
ann = hasil

In [ ]:
simpen = df.groupby(['NomerDonor'], as_index=False, sort=False)['TanggalDonor'].max()
annd = pd.merge(ann, simpen, on='NomerDonor', how='left')

In [ ]:
from datetime import date

today = pd.to_datetime(date.today())
today = annd['TanggalDonor'].max()
annd['Recency'] = (today - annd['TanggalDonor']).dt.days

In [ ]:
ann = annd[['NomerDonor', 'Category', 'Recency']]

In [ ]:
ann.Category.unique()

###### - - - df ranking

In [ ]:
donor = df[['NomerDonor', 'TanggalDonor', 'BloodType', 'JKel', 'Lokasi', 'Umur']]
donor = donor.drop_duplicates()

In [ ]:
donor

In [ ]:
for index, row in donor.iterrows():
  if row.Umur >= 65:
    donor.at[index,'AgeCat'] = 0
  else:
    donor.at[index,'AgeCat'] = 3
  if row.JKel == 'Pria':
    donor.at[index,'JKCat'] = 3
  else:
    donor.at[index,'JKCat'] = 2

In [ ]:
lok = 'UTD PMI SURABAYA'
location = donor.query(str("Lokasi == '") + lok + "'").groupby('NomerDonor').count()

In [ ]:
location = location[['BloodType']]
location.columns = ['Loc']
location['NomerDonor'] = location.index

In [ ]:
location = location.rename_axis(index=None, columns=None)

In [ ]:
donor = pd.merge(donor, location, on=['NomerDonor'])

In [ ]:
maks = donor['Loc'].max()

In [ ]:
donor['Loc'] = donor['Loc']/maks

In [ ]:
donor = donor[['NomerDonor', 'TanggalDonor', 'BloodType', 'AgeCat', 'JKCat', 'Loc']]

In [ ]:
donor = donor.sort_values('TanggalDonor')

###### - - - ranking

In [ ]:
import pandas as pd
# ann = pd.read_csv('classifiedann.csv')

In [ ]:
# rbc.rename(columns = {'Recency1':'Recency'}, inplace = True)

In [ ]:
anndf = pd.merge(donor, ann, on=['NomerDonor'])

In [ ]:
for i, r in anndf.iterrows():
  if r.Recency <= 60:
    anndf.at[i, 'Rating'] = 0
  else:
    if r.Category == 1:
      anndf.at[i, 'Rating'] = (10 + r.AgeCat + r.JKCat)
    elif r.Category == 2:
      anndf.at[i, 'Rating'] = (8 + r.AgeCat + r.JKCat) 
    elif r.Category == 3:
      anndf.at[i, 'Rating'] = (6 + r.AgeCat + r.JKCat )
    elif r.Category == 4:
      anndf.at[i, 'Rating'] = (4 + r.AgeCat + r.JKCat )
    else:
      anndf.at[i, 'Rating'] = (2 + r.AgeCat + r.JKCat )

In [ ]:
anndf = anndf[['NomerDonor', 'BloodType', 'Rating']]

In [ ]:
oldmax = anndf.Rating.max()  
oldmin = anndf.Rating.min()
OldRange = (oldmax - oldmin)
NewRange = 4
for i, r in anndf.iterrows():
  anndf.at[i, 'Rating'] = (float(((r.Rating - oldmin) * NewRange)) / OldRange) + 1

In [ ]:
anndf.Rating.sort_values().unique()

In [ ]:
# anndf.info()

In [ ]:
anndf['NomerDonor'] = anndf.NomerDonor.astype(int)

In [ ]:
from google.colab import files
# anndf.to_csv('annnoloc.csv', index=False) 
# files.download('d17-21.csv')

##### --- rankin

###### - - - df ranking

In [ ]:
donor = df[['NomerDonor', 'TanggalDonor', 'BloodType', 'JKel', 'Lokasi', 'Umur']]
donor = donor.drop_duplicates()

In [ ]:
donor

In [ ]:
for index, row in donor.iterrows():
  if row.Umur >= 65:
    donor.at[index,'AgeCat'] = 0
  else:
    donor.at[index,'AgeCat'] = 3
  if row.JKel == 'Pria':
    donor.at[index,'JKCat'] = 3
  else:
    donor.at[index,'JKCat'] = 2

In [ ]:
lok = 'UTD PMI SURABAYA'
location = donor.query(str("Lokasi == '") + lok + "'").groupby('NomerDonor').count()

In [ ]:
location = location[['BloodType']]
location.columns = ['Loc']
location['NomerDonor'] = location.index

In [ ]:
location = location.rename_axis(index=None, columns=None)

In [ ]:
donor = pd.merge(donor, location, on=['NomerDonor'])

In [ ]:
maks = donor['Loc'].max()

In [ ]:
donor['Loc'] = donor['Loc']/maks

In [ ]:
donor = donor[['NomerDonor', 'TanggalDonor', 'BloodType', 'AgeCat', 'JKCat', 'Loc']]

In [ ]:
donor = donor.sort_values('TanggalDonor')

###### - - - ranking bkn desimal

In [ ]:
import pandas as pd
# ann = pd.read_csv('classifiedann.csv')

In [ ]:
anndf = pd.merge(donor, ann, on=['NomerDonor'])

In [ ]:
for i, r in anndf.iterrows():
  if r.Recency <= 60:
    anndf.at[i, 'Rating'] = 0
  else:
    anndf.at[i, 'Rating'] = ((r.Category*2) + r.AgeCat + r.JKCat)

In [ ]:
anndf = anndf[['NomerDonor', 'BloodType', 'Rating']]

In [ ]:
oldmax = anndf.Rating.max()  
oldmin = anndf.Rating.min()
OldRange = (oldmax - oldmin)
NewRange = 4
for i, r in anndf.iterrows():
  anndf.at[i, 'Rating'] = (float(((r.Rating - oldmin) * NewRange)) / OldRange) + 1

In [ ]:
anndf.Rating.sort_values().unique()

In [ ]:
# anndf.info()

In [ ]:
anndf['NomerDonor'] = anndf.NomerDonor.astype(int)

In [ ]:
from google.colab import files
anndf.to_csv('ann + 20 no11.csv', index=False) 
# files.download('no4.csv')

##### --- als

###### - - - als

In [ ]:
import pandas as pd
anndf = pd.read_csv('ann + 20 no11.csv')

In [ ]:
jum = anndf.NomerDonor.nunique()

###### - - - gapt

In [ ]:
!pip install pyspark

In [ ]:
import pyspark
sc = pyspark.SparkContext(appName="PMI")

In [ ]:
sql = pyspark.SQLContext(sc)

In [ ]:
#sql
from pyspark.sql import SparkSession
spark = SparkSession(sc)

###### - - - start

In [ ]:
annsdf=spark.createDataFrame(anndf) 
# annsdf.printSchema()
# annsdf.show()

In [ ]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.ml.tuning import TrainValidationSplit, ParamGridBuilder, CrossValidator

#Misah antara data training dan data test
# (training, test) = annsdf.randomSplit([0.8, 0.2])

#buat ALS model, col-colnya paten BTW harus ada user, item yang diprediksi dan rating
als1=ALS(maxIter=10,regParam=0.01,rank=25,userCol="BloodType",itemCol="NomerDonor",ratingCol="Rating",coldStartStrategy="drop",nonnegative=True)
model=als1.fit(annsdf)

In [ ]:
bloodfoc = model.recommendForAllUsers(jum)

In [ ]:
bloodfoc.select("BloodType", "recommendations.NomerDonor", 'recommendations.Rating').show(10, False)

###### MRR ANN

In [ ]:
model_df = bloodfoc.select("BloodType", "recommendations.NomerDonor")
model_df.show(5, False)

In [ ]:
#rename
model_df = model_df.withColumnRenamed("BloodType","BloodTypeModel") 
model_df = model_df.withColumnRenamed("NomerDonor","NomerDonorRanking")

In [ ]:
d22b = spark.createDataFrame(d22)
d22b.printSchema()
d22b.show(5)

In [ ]:
#join table sample dan model yang sudah dibuat
joined_df = d22b.join(model_df, d22b.BloodType == model_df.BloodTypeModel)
joined_df.show(3)

In [ ]:
joined_df.createOrReplaceTempView("joined_df")

In [ ]:
def reciprocal_rank(row):
    if row['NomerDonor'] in row['NomerDonorRanking']:
        rank = row['NomerDonorRanking'].index(row['NomerDonor']) + 1
        score = 1.0/float(rank)
    else:
        rank = 0
        score = 0.0
    return (row[0], row[1], row[9], rank, score)

In [ ]:
#get reciprocal score for all event type
rr_all = joined_df.rdd.map(reciprocal_rank).toDF(['NomerDonor', 'NamaDonor','BloodType', 'Ranking', 'reciprocal_score'])
rr_all.show(20, False)

In [ ]:
rr_all.createOrReplaceTempView("rr_all")

In [ ]:
# sumdf = spark.sql("")
# sumdf.show()

In [ ]:
sumdf = spark.sql("select count(*) from rr_all")
sumdf.show()

In [ ]:
sumdf = spark.sql("select count(*) from rr_all where reciprocal_score > 0.0")
sumdf.show()

In [ ]:
sumdf = spark.sql("select * from rr_all where reciprocal_score <= 0.0")
sumdf.show()

In [ ]:
all_mrr = rr_all.agg({"reciprocal_score":"avg"}).collect()[0]['avg(reciprocal_score)']

In [ ]:
all_mrr

### ann + 30% rbc --------------------------------------------------------------------------------

#### _ before corona (2015-2019)

##### --- read df

###### - - - df

In [ ]:
jenis = ['Triple', 'Quadruple', 'Single', 'Double Besar']

In [ ]:
import pandas as pd
df = pd.read_csv('d15-19.csv')
df.JenisKantong = df.JenisKantong.str.title()
df = df[df['JenisKantong'].isin(jenis)]

In [ ]:
d22 = df.loc[(df['TanggalDonor'] > '2019-11-30 11:59:59.999')]
d22 = d22.loc[(d22['Lokasi'] == 'UTD PMI SURABAYA')]

In [ ]:
df = df.loc[(df['TanggalDonor'] <= '2019-11-30 11:59:59.999')]

In [ ]:
d22 = d22[d22.NomerDonor.isin(df.NomerDonor)]

###### - - - test

In [ ]:
jenis = ['Triple', 'Quadruple', 'Single', 'Double Besar']

In [ ]:
import pandas as pd
test = pd.read_csv('d15-19.csv')
test.JenisKantong = test.JenisKantong.str.title()
test = test[test['JenisKantong'].isin(jenis)]

In [ ]:
test.JenisKantong.unique()

##### --- data training

In [ ]:
import pandas as pd
dm = pd.read_csv('dummy ann updated.csv')

In [ ]:
dm = dm.fillna(0)

In [ ]:
ctest = pd.read_csv('rbc untuk ann.csv')
# merged = pd.merge(test, ctest, on=['NomerDonor'], how='left').fillna(0)

In [ ]:
t = ctest

In [ ]:
def preproc(df):
  df['TanggalDonor']= pd.to_datetime(df['TanggalDonor'])
  months = df["TanggalDonor"].dt.year * 12 + df["TanggalDonor"].dt.month  # series
  df["Bulan"] = months - min(months) + 1
  df = df.loc[(df['Bulan'] >= df.Bulan.max()-59) & (df['Bulan'] <= df.Bulan.max())]
    # print(df.Bulan.max())
  # df['Bulan'] = df['Bulan']-48
  ndf=df[['NomerDonor']].join(pd.get_dummies(df['Bulan'])).groupby('NomerDonor').max()
  if df.Bulan.max() <60:
    ndf.insert(0, 'a1', 0)
  return ndf

In [ ]:
ctest = preproc(ctest)

In [ ]:
ctest.rename(columns={ctest.columns[0]: 'a1', ctest.columns[1]: 'a2', ctest.columns[2]: 'a3'
, ctest.columns[3]: 'a4', ctest.columns[4]: 'a5', ctest.columns[5]: 'a6', ctest.columns[6]: 'a7'
, ctest.columns[7]: 'a8', ctest.columns[8]: 'a9', ctest.columns[9]: 'a10', ctest.columns[10]: 'a11'
, ctest.columns[11]: 'a12', ctest.columns[12]: 'b1', ctest.columns[13]: 'b2', ctest.columns[14]: 'b3'
, ctest.columns[15]: 'b4', ctest.columns[16]: 'b5', ctest.columns[17]: 'b6', ctest.columns[18]: 'b7'
, ctest.columns[19]: 'b8', ctest.columns[20]: 'b9', ctest.columns[21]: 'b10', ctest.columns[22]: 'b11'
, ctest.columns[23]: 'b12', ctest.columns[24]: 'c1', ctest.columns[25]: 'c2', ctest.columns[26]: 'c3'
, ctest.columns[27]: 'c4', ctest.columns[28]: 'c5', ctest.columns[29]: 'c6', ctest.columns[30]: 'c7'
, ctest.columns[31]: 'c8', ctest.columns[32]: 'c9', ctest.columns[33]: 'c10', ctest.columns[34]: 'c11'
, ctest.columns[35]: 'c12', ctest.columns[36]: 'd1', ctest.columns[37]: 'd2', ctest.columns[38]: 'd3'
, ctest.columns[39]: 'd4', ctest.columns[40]: 'd5', ctest.columns[41]: 'd6', ctest.columns[42]: 'd7'
, ctest.columns[43]: 'd8', ctest.columns[44]: 'd9', ctest.columns[45]: 'd10', ctest.columns[46]: 'd11'
, ctest.columns[47]: 'd12', ctest.columns[48]: 'e1', ctest.columns[49]: 'e2', ctest.columns[50]: 'e3'
, ctest.columns[51]: 'e4', ctest.columns[52]: 'e5', ctest.columns[53]: 'e6', ctest.columns[54]: 'e7'
, ctest.columns[55]: 'e8', ctest.columns[56]: 'e9', ctest.columns[57]: 'e10', ctest.columns[58]: 'e11'
, ctest.columns[59]: 'e12'},inplace=True)

In [ ]:
ctest['NomerDonor'] = ctest.index
ctest = ctest.reset_index(drop=True)

In [ ]:
t = t[['NomerDonor', 'Category']]

In [ ]:
testt = pd.merge(ctest, t, on=['NomerDonor'], how='inner')
testt = testt.drop_duplicates()
testt = testt.drop(['NomerDonor'], axis=1)

In [ ]:
sample = testt.sample(frac=0.3, random_state=1)

In [ ]:
dm = dm.merge(sample, how='outer')

In [ ]:
y = dm.Category
x = dm.drop(columns='Category')

In [ ]:
from sklearn.preprocessing import OneHotEncoder

y = OneHotEncoder(sparse=False)
y = y.fit_transform(dm[['Category']])
test_y = pd.DataFrame(y)

In [ ]:
test_y.rename(columns={ test_y.columns[0]: "Cat1", test_y.columns[1]: "Cat2", test_y.columns[2]: "Cat3",
                    test_y.columns[3]: "Cat4",test_y.columns[4]: "Cat5"}, 
          inplace=True)

In [ ]:
from sklearn.model_selection import train_test_split

y.astype(int)
x.astype(int)
train_x, test_x, train_y, test_y = train_test_split(x,y,test_size=0.2, random_state=43)

##### --- training & testing

In [ ]:
# neural network
import tensorflow as tf

model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(units = 64, activation = 'relu', input_shape=(60,)))
# model.add(tf.keras.layers.Dense(units = 128 , activation = 'relu', input_shape=(60,)))
# model.add(tf.keras.layers.Dense(units = 256, activation = 'relu', input_shape=(60,)))
# model.add(tf.keras.layers.Dropout(0.3))
# model.add(tf.keras.layers.Dense(units = 128, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.4))
# # model.add(tf.keras.layers.Dense(units = 128, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.3))
# model.add(tf.keras.layers.Dense(units = 64, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.3))
# model.add(tf.keras.layers.Dense(units = 32, activation = 'relu'))
# model.add(tf.keras.layers.Dense(units = 16, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.3))
model.add(tf.keras.layers.Dense(units = 5, activation = 'softmax'))

model.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])
history = model.fit(train_x, train_y, validation_data = (test_x,test_y), epochs =20)

In [ ]:
pred_y = model.predict(test_x)
test_loss, test_accuracy = model.evaluate(test_x, test_y)
print(test_loss, test_accuracy)

In [ ]:
# 0.35
import matplotlib.pyplot as plt
fig, ax = plt.subplots(1, figsize=(8,6))
plt.plot(history.history['accuracy'])
plt.plot(history.history['val_accuracy'])
plt.title('Model accuracy')
plt.ylabel('Accuracy')
plt.xlabel('Epoch')
plt.legend(['Train', 'Test'], loc='upper left')
plt.show()

##### --- implementation

In [ ]:
def preproc(df):
  df['TanggalDonor']= pd.to_datetime(df['TanggalDonor'])
  months = df["TanggalDonor"].dt.year * 12 + df["TanggalDonor"].dt.month  # series
  df["Bulan"] = months - min(months) + 1
  df = df.loc[(df['Bulan'] >= df.Bulan.max()-59) & (df['Bulan'] <= df.Bulan.max())]
    # print(df.Bulan.max())
  # df['Bulan'] = df['Bulan']-48
  ndf=df[['NomerDonor']].join(pd.get_dummies(df['Bulan'])).groupby('NomerDonor').max()
  if df.Bulan.max() <60:
    ndf.insert(0, 'a1', 0)
  return ndf

In [ ]:
dfs = preproc(df)
dfs

In [ ]:
ndfp = model.predict(dfs)

In [ ]:
ndfd = pd.DataFrame(ndfp, columns = ['Cat1', 'Cat2', 'Cat3', 'Cat4', 'Cat5'])

In [ ]:
for i, r in ndfd.iterrows():
  ndfd.at[i,'Category']  = (0.2 * r.Cat1) + (0.2 * r.Cat2) + (0.2 * r.Cat3) + (0.2 * r.Cat4) + (0.2 * r.Cat5)

In [ ]:
oldmax = ndfd.Category.max()  
oldmin = ndfd.Category.min()
OldRange = (oldmax - oldmin)
NewRange = 4
for i, r in ndfd.iterrows():
  ndfd.at[i, 'Category'] = (float(((r.Category - oldmin) * NewRange)) / OldRange) + 1

In [ ]:
hasil = dfs
hasil['Category'] = ndfd['Category'].values
hasil['NomerDonor'] = hasil.index
hasil = hasil[['NomerDonor', 'Category']]

In [ ]:
hasil = hasil.rename_axis(index=None, columns=None)

In [ ]:
ann = hasil

In [ ]:
simpen = df.groupby(['NomerDonor'], as_index=False, sort=False)['TanggalDonor'].max()
annd = pd.merge(ann, simpen, on='NomerDonor', how='left')

In [ ]:
from datetime import date

today = pd.to_datetime(date.today())
today = annd['TanggalDonor'].max()
annd['Recency'] = (today - annd['TanggalDonor']).dt.days

In [ ]:
ann = annd[['NomerDonor', 'Category', 'Recency']]

In [ ]:
ann.Category.unique()

###### - - - df ranking

In [ ]:
donor = df[['NomerDonor', 'TanggalDonor', 'BloodType', 'JKel', 'Lokasi', 'Umur']]
donor = donor.drop_duplicates()

In [ ]:
donor

In [ ]:
for index, row in donor.iterrows():
  if row.Umur >= 65:
    donor.at[index,'AgeCat'] = 0
  else:
    donor.at[index,'AgeCat'] = 3
  if row.JKel == 'Pria':
    donor.at[index,'JKCat'] = 3
  else:
    donor.at[index,'JKCat'] = 2

In [ ]:
lok = 'UTD PMI SURABAYA'
location = donor.query(str("Lokasi == '") + lok + "'").groupby('NomerDonor').count()

In [ ]:
location = location[['BloodType']]
location.columns = ['Loc']
location['NomerDonor'] = location.index

In [ ]:
location = location.rename_axis(index=None, columns=None)

In [ ]:
donor = pd.merge(donor, location, on=['NomerDonor'])

In [ ]:
maks = donor['Loc'].max()

In [ ]:
donor['Loc'] = donor['Loc']/maks

In [ ]:
donor = donor[['NomerDonor', 'TanggalDonor', 'BloodType', 'AgeCat', 'JKCat', 'Loc']]

In [ ]:
donor = donor.sort_values('TanggalDonor')

###### - - - ranking

In [ ]:
import pandas as pd
# ann = pd.read_csv('classifiedann.csv')

In [ ]:
# rbc.rename(columns = {'Recency1':'Recency'}, inplace = True)

In [ ]:
anndf = pd.merge(donor, ann, on=['NomerDonor'])

In [ ]:
for i, r in anndf.iterrows():
  if r.Recency <= 60:
    anndf.at[i, 'Rating'] = 0
  else:
    if r.Category == 1:
      anndf.at[i, 'Rating'] = (10 + r.AgeCat + r.JKCat)
    elif r.Category == 2:
      anndf.at[i, 'Rating'] = (8 + r.AgeCat + r.JKCat) 
    elif r.Category == 3:
      anndf.at[i, 'Rating'] = (6 + r.AgeCat + r.JKCat )
    elif r.Category == 4:
      anndf.at[i, 'Rating'] = (4 + r.AgeCat + r.JKCat )
    else:
      anndf.at[i, 'Rating'] = (2 + r.AgeCat + r.JKCat )

In [ ]:
anndf = anndf[['NomerDonor', 'BloodType', 'Rating']]

In [ ]:
oldmax = anndf.Rating.max()  
oldmin = anndf.Rating.min()
OldRange = (oldmax - oldmin)
NewRange = 4
for i, r in anndf.iterrows():
  anndf.at[i, 'Rating'] = (float(((r.Rating - oldmin) * NewRange)) / OldRange) + 1

In [ ]:
anndf.Rating.sort_values().unique()

In [ ]:
# anndf.info()

In [ ]:
anndf['NomerDonor'] = anndf.NomerDonor.astype(int)

In [ ]:
from google.colab import files
# anndf.to_csv('annnoloc.csv', index=False) 
# files.download('d17-21.csv')

##### --- rankin

###### - - - df ranking

In [ ]:
donor = df[['NomerDonor', 'TanggalDonor', 'BloodType', 'JKel', 'Lokasi', 'Umur']]
donor = donor.drop_duplicates()

In [ ]:
donor

In [ ]:
for index, row in donor.iterrows():
  if row.Umur >= 65:
    donor.at[index,'AgeCat'] = 0
  else:
    donor.at[index,'AgeCat'] = 3
  if row.JKel == 'Pria':
    donor.at[index,'JKCat'] = 3
  else:
    donor.at[index,'JKCat'] = 2

In [ ]:
lok = 'UTD PMI SURABAYA'
location = donor.query(str("Lokasi == '") + lok + "'").groupby('NomerDonor').count()

In [ ]:
location = location[['BloodType']]
location.columns = ['Loc']
location['NomerDonor'] = location.index

In [ ]:
location = location.rename_axis(index=None, columns=None)

In [ ]:
donor = pd.merge(donor, location, on=['NomerDonor'])

In [ ]:
maks = donor['Loc'].max()

In [ ]:
donor['Loc'] = donor['Loc']/maks

In [ ]:
donor = donor[['NomerDonor', 'TanggalDonor', 'BloodType', 'AgeCat', 'JKCat', 'Loc']]

In [ ]:
donor = donor.sort_values('TanggalDonor')

###### - - - ranking bkn desimal

In [ ]:
import pandas as pd
# ann = pd.read_csv('classifiedann.csv')

In [ ]:
anndf = pd.merge(donor, ann, on=['NomerDonor'])

In [ ]:
for i, r in anndf.iterrows():
  if r.Recency <= 60:
    anndf.at[i, 'Rating'] = 0
  else:
    anndf.at[i, 'Rating'] = ((r.Category*2) + r.AgeCat + r.JKCat)

In [ ]:
anndf = anndf[['NomerDonor', 'BloodType', 'Rating']]

In [ ]:
oldmax = anndf.Rating.max()  
oldmin = anndf.Rating.min()
OldRange = (oldmax - oldmin)
NewRange = 4
for i, r in anndf.iterrows():
  anndf.at[i, 'Rating'] = (float(((r.Rating - oldmin) * NewRange)) / OldRange) + 1

In [ ]:
anndf.Rating.sort_values().unique()

In [ ]:
# anndf.info()

In [ ]:
anndf['NomerDonor'] = anndf.NomerDonor.astype(int)

In [ ]:
from google.colab import files
anndf.to_csv('ann + 20 no1.csv', index=False) 
# files.download('no4.csv')

##### --- als

###### - - - als

In [ ]:
import pandas as pd
anndf = pd.read_csv('ann + 20 no1.csv')

In [ ]:
jum = anndf.NomerDonor.nunique()

###### - - - gapt

In [ ]:
!pip install pyspark

In [ ]:
import pyspark
sc = pyspark.SparkContext(appName="PMI")

In [ ]:
sql = pyspark.SQLContext(sc)

In [ ]:
#sql
from pyspark.sql import SparkSession
spark = SparkSession(sc)

###### - - - start

In [ ]:
annsdf=spark.createDataFrame(anndf) 
# annsdf.printSchema()
# annsdf.show()

In [ ]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.ml.tuning import TrainValidationSplit, ParamGridBuilder, CrossValidator

#Misah antara data training dan data test
# (training, test) = annsdf.randomSplit([0.8, 0.2])

#buat ALS model, col-colnya paten BTW harus ada user, item yang diprediksi dan rating
als1=ALS(maxIter=10,regParam=0.01,rank=25,userCol="BloodType",itemCol="NomerDonor",ratingCol="Rating",coldStartStrategy="drop",nonnegative=True)
model=als1.fit(annsdf)

In [ ]:
bloodfoc = model.recommendForAllUsers(jum)

In [ ]:
bloodfoc.select("BloodType", "recommendations.NomerDonor", 'recommendations.Rating').show(10, False)

###### MRR ANN

In [ ]:
model_df = bloodfoc.select("BloodType", "recommendations.NomerDonor")
model_df.show(5, False)

In [ ]:
#rename
model_df = model_df.withColumnRenamed("BloodType","BloodTypeModel") 
model_df = model_df.withColumnRenamed("NomerDonor","NomerDonorRanking")

In [ ]:
d22b = spark.createDataFrame(d22)
d22b.printSchema()
d22b.show(5)

In [ ]:
#join table sample dan model yang sudah dibuat
joined_df = d22b.join(model_df, d22b.BloodType == model_df.BloodTypeModel)
joined_df.show(3)

In [ ]:
joined_df.createOrReplaceTempView("joined_df")

In [ ]:
def reciprocal_rank(row):
    if row['NomerDonor'] in row['NomerDonorRanking']:
        rank = row['NomerDonorRanking'].index(row['NomerDonor']) + 1
        score = 1.0/float(rank)
    else:
        rank = 0
        score = 0.0
    return (row[0], row[1], row[9], rank, score)

In [ ]:
#get reciprocal score for all event type
rr_all = joined_df.rdd.map(reciprocal_rank).toDF(['NomerDonor', 'NamaDonor','BloodType', 'Ranking', 'reciprocal_score'])
rr_all.show(20, False)

In [ ]:
rr_all.createOrReplaceTempView("rr_all")

In [ ]:
# sumdf = spark.sql("")
# sumdf.show()

In [ ]:
sumdf = spark.sql("select count(*) from rr_all")
sumdf.show()

In [ ]:
sumdf = spark.sql("select count(*) from rr_all where reciprocal_score > 0.0")
sumdf.show()

In [ ]:
sumdf = spark.sql("select * from rr_all where reciprocal_score <= 0.0")
sumdf.show()

In [ ]:
all_mrr = rr_all.agg({"reciprocal_score":"avg"}).collect()[0]['avg(reciprocal_score)']

In [ ]:
all_mrr

### ann + 40% rbc --------------------------------------------------------------------------------

#### _ before corona (2015-2019)

##### --- read df

###### - - - df

In [ ]:
jenis = ['Triple', 'Quadruple', 'Single', 'Double Besar']

In [ ]:
import pandas as pd
df = pd.read_csv('d15-19.csv')
df.JenisKantong = df.JenisKantong.str.title()
df = df[df['JenisKantong'].isin(jenis)]

In [ ]:
d22 = df.loc[(df['TanggalDonor'] > '2019-11-30 11:59:59.999')]
d22 = d22.loc[(d22['Lokasi'] == 'UTD PMI SURABAYA')]

In [ ]:
df = df.loc[(df['TanggalDonor'] <= '2019-11-30 11:59:59.999')]

In [ ]:
d22 = d22[d22.NomerDonor.isin(df.NomerDonor)]

###### - - - test

In [ ]:
jenis = ['Triple', 'Quadruple', 'Single', 'Double Besar']

In [ ]:
import pandas as pd
test = pd.read_csv('d15-19.csv')
test.JenisKantong = test.JenisKantong.str.title()
test = test[test['JenisKantong'].isin(jenis)]

In [ ]:
test.JenisKantong.unique()

##### --- data training

In [ ]:
import pandas as pd
dm = pd.read_csv('dummy ann updated.csv')

In [ ]:
dm = dm.fillna(0)

In [ ]:
ctest = pd.read_csv('rbc untuk ann.csv')
# merged = pd.merge(test, ctest, on=['NomerDonor'], how='left').fillna(0)

In [ ]:
t = ctest

In [ ]:
def preproc(df):
  df['TanggalDonor']= pd.to_datetime(df['TanggalDonor'])
  months = df["TanggalDonor"].dt.year * 12 + df["TanggalDonor"].dt.month  # series
  df["Bulan"] = months - min(months) + 1
  df = df.loc[(df['Bulan'] >= df.Bulan.max()-59) & (df['Bulan'] <= df.Bulan.max())]
    # print(df.Bulan.max())
  # df['Bulan'] = df['Bulan']-48
  ndf=df[['NomerDonor']].join(pd.get_dummies(df['Bulan'])).groupby('NomerDonor').max()
  if df.Bulan.max() <60:
    ndf.insert(0, 'a1', 0)
  return ndf

In [ ]:
ctest = preproc(ctest)

In [ ]:
ctest.rename(columns={ctest.columns[0]: 'a1', ctest.columns[1]: 'a2', ctest.columns[2]: 'a3'
, ctest.columns[3]: 'a4', ctest.columns[4]: 'a5', ctest.columns[5]: 'a6', ctest.columns[6]: 'a7'
, ctest.columns[7]: 'a8', ctest.columns[8]: 'a9', ctest.columns[9]: 'a10', ctest.columns[10]: 'a11'
, ctest.columns[11]: 'a12', ctest.columns[12]: 'b1', ctest.columns[13]: 'b2', ctest.columns[14]: 'b3'
, ctest.columns[15]: 'b4', ctest.columns[16]: 'b5', ctest.columns[17]: 'b6', ctest.columns[18]: 'b7'
, ctest.columns[19]: 'b8', ctest.columns[20]: 'b9', ctest.columns[21]: 'b10', ctest.columns[22]: 'b11'
, ctest.columns[23]: 'b12', ctest.columns[24]: 'c1', ctest.columns[25]: 'c2', ctest.columns[26]: 'c3'
, ctest.columns[27]: 'c4', ctest.columns[28]: 'c5', ctest.columns[29]: 'c6', ctest.columns[30]: 'c7'
, ctest.columns[31]: 'c8', ctest.columns[32]: 'c9', ctest.columns[33]: 'c10', ctest.columns[34]: 'c11'
, ctest.columns[35]: 'c12', ctest.columns[36]: 'd1', ctest.columns[37]: 'd2', ctest.columns[38]: 'd3'
, ctest.columns[39]: 'd4', ctest.columns[40]: 'd5', ctest.columns[41]: 'd6', ctest.columns[42]: 'd7'
, ctest.columns[43]: 'd8', ctest.columns[44]: 'd9', ctest.columns[45]: 'd10', ctest.columns[46]: 'd11'
, ctest.columns[47]: 'd12', ctest.columns[48]: 'e1', ctest.columns[49]: 'e2', ctest.columns[50]: 'e3'
, ctest.columns[51]: 'e4', ctest.columns[52]: 'e5', ctest.columns[53]: 'e6', ctest.columns[54]: 'e7'
, ctest.columns[55]: 'e8', ctest.columns[56]: 'e9', ctest.columns[57]: 'e10', ctest.columns[58]: 'e11'
, ctest.columns[59]: 'e12'},inplace=True)

In [ ]:
ctest['NomerDonor'] = ctest.index
ctest = ctest.reset_index(drop=True)

In [ ]:
t = t[['NomerDonor', 'Category']]

In [ ]:
testt = pd.merge(ctest, t, on=['NomerDonor'], how='inner')
testt = testt.drop_duplicates()
testt = testt.drop(['NomerDonor'], axis=1)

In [ ]:
sample = testt.sample(frac=0.2, random_state=1)

In [ ]:
dm = dm.merge(sample, how='outer')

In [ ]:
y = dm.Category
x = dm.drop(columns='Category')

In [ ]:
from sklearn.preprocessing import OneHotEncoder

y = OneHotEncoder(sparse=False)
y = y.fit_transform(dm[['Category']])
test_y = pd.DataFrame(y)

In [ ]:
test_y.rename(columns={ test_y.columns[0]: "Cat1", test_y.columns[1]: "Cat2", test_y.columns[2]: "Cat3",
                    test_y.columns[3]: "Cat4",test_y.columns[4]: "Cat5"}, 
          inplace=True)

In [ ]:
from sklearn.model_selection import train_test_split

y.astype(int)
x.astype(int)
train_x, test_x, train_y, test_y = train_test_split(x,y,test_size=0.2, random_state=43)

##### --- training & testing

In [ ]:
# neural network
import tensorflow as tf

model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(units = 64, activation = 'relu', input_shape=(60,)))
# model.add(tf.keras.layers.Dense(units = 128 , activation = 'relu', input_shape=(60,)))
# model.add(tf.keras.layers.Dense(units = 256, activation = 'relu', input_shape=(60,)))
# model.add(tf.keras.layers.Dropout(0.3))
# model.add(tf.keras.layers.Dense(units = 128, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.4))
# # model.add(tf.keras.layers.Dense(units = 128, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.3))
# model.add(tf.keras.layers.Dense(units = 64, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.3))
# model.add(tf.keras.layers.Dense(units = 32, activation = 'relu'))
# model.add(tf.keras.layers.Dense(units = 16, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.3))
model.add(tf.keras.layers.Dense(units = 5, activation = 'softmax'))

model.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])
history = model.fit(train_x, train_y, validation_data = (test_x,test_y), epochs =20)

In [ ]:
pred_y = model.predict(test_x)
test_loss, test_accuracy = model.evaluate(test_x, test_y)
print(test_loss, test_accuracy)

In [ ]:
# 0.35
import matplotlib.pyplot as plt
fig, ax = plt.subplots(1, figsize=(8,6))
plt.plot(history.history['accuracy'])
plt.plot(history.history['val_accuracy'])
plt.title('Model accuracy')
plt.ylabel('Accuracy')
plt.xlabel('Epoch')
plt.legend(['Train', 'Test'], loc='upper left')
plt.show()

##### --- implementation

In [ ]:
def preproc(df):
  df['TanggalDonor']= pd.to_datetime(df['TanggalDonor'])
  months = df["TanggalDonor"].dt.year * 12 + df["TanggalDonor"].dt.month  # series
  df["Bulan"] = months - min(months) + 1
  df = df.loc[(df['Bulan'] >= df.Bulan.max()-59) & (df['Bulan'] <= df.Bulan.max())]
    # print(df.Bulan.max())
  # df['Bulan'] = df['Bulan']-48
  ndf=df[['NomerDonor']].join(pd.get_dummies(df['Bulan'])).groupby('NomerDonor').max()
  if df.Bulan.max() <60:
    ndf.insert(0, 'a1', 0)
  return ndf

In [ ]:
dfs = preproc(df)
dfs

In [ ]:
ndfp = model.predict(dfs)

In [ ]:
ndfd = pd.DataFrame(ndfp, columns = ['Cat1', 'Cat2', 'Cat3', 'Cat4', 'Cat5'])

In [ ]:
for i, r in ndfd.iterrows():
  ndfd.at[i,'Category']  = (0.2 * r.Cat1) + (0.2 * r.Cat2) + (0.2 * r.Cat3) + (0.2 * r.Cat4) + (0.2 * r.Cat5)

In [ ]:
oldmax = ndfd.Category.max()  
oldmin = ndfd.Category.min()
OldRange = (oldmax - oldmin)
NewRange = 4
for i, r in ndfd.iterrows():
  ndfd.at[i, 'Category'] = (float(((r.Category - oldmin) * NewRange)) / OldRange) + 1

In [ ]:
hasil = dfs
hasil['Category'] = ndfd['Category'].values
hasil['NomerDonor'] = hasil.index
hasil = hasil[['NomerDonor', 'Category']]

In [ ]:
hasil = hasil.rename_axis(index=None, columns=None)

In [ ]:
ann = hasil

In [ ]:
simpen = df.groupby(['NomerDonor'], as_index=False, sort=False)['TanggalDonor'].max()
annd = pd.merge(ann, simpen, on='NomerDonor', how='left')

In [ ]:
from datetime import date

today = pd.to_datetime(date.today())
today = annd['TanggalDonor'].max()
annd['Recency'] = (today - annd['TanggalDonor']).dt.days

In [ ]:
ann = annd[['NomerDonor', 'Category', 'Recency']]

In [ ]:
ann.Category.unique()

###### - - - df ranking

In [ ]:
donor = df[['NomerDonor', 'TanggalDonor', 'BloodType', 'JKel', 'Lokasi', 'Umur']]
donor = donor.drop_duplicates()

In [ ]:
donor

In [ ]:
for index, row in donor.iterrows():
  if row.Umur >= 65:
    donor.at[index,'AgeCat'] = 0
  else:
    donor.at[index,'AgeCat'] = 3
  if row.JKel == 'Pria':
    donor.at[index,'JKCat'] = 3
  else:
    donor.at[index,'JKCat'] = 2

In [ ]:
lok = 'UTD PMI SURABAYA'
location = donor.query(str("Lokasi == '") + lok + "'").groupby('NomerDonor').count()

In [ ]:
location = location[['BloodType']]
location.columns = ['Loc']
location['NomerDonor'] = location.index

In [ ]:
location = location.rename_axis(index=None, columns=None)

In [ ]:
donor = pd.merge(donor, location, on=['NomerDonor'])

In [ ]:
maks = donor['Loc'].max()

In [ ]:
donor['Loc'] = donor['Loc']/maks

In [ ]:
donor = donor[['NomerDonor', 'TanggalDonor', 'BloodType', 'AgeCat', 'JKCat', 'Loc']]

In [ ]:
donor = donor.sort_values('TanggalDonor')

###### - - - ranking

In [ ]:
import pandas as pd
# ann = pd.read_csv('classifiedann.csv')

In [ ]:
# rbc.rename(columns = {'Recency1':'Recency'}, inplace = True)

In [ ]:
anndf = pd.merge(donor, ann, on=['NomerDonor'])

In [ ]:
for i, r in anndf.iterrows():
  if r.Recency <= 60:
    anndf.at[i, 'Rating'] = 0
  else:
    if r.Category == 1:
      anndf.at[i, 'Rating'] = (10 + r.AgeCat + r.JKCat)
    elif r.Category == 2:
      anndf.at[i, 'Rating'] = (8 + r.AgeCat + r.JKCat) 
    elif r.Category == 3:
      anndf.at[i, 'Rating'] = (6 + r.AgeCat + r.JKCat )
    elif r.Category == 4:
      anndf.at[i, 'Rating'] = (4 + r.AgeCat + r.JKCat )
    else:
      anndf.at[i, 'Rating'] = (2 + r.AgeCat + r.JKCat )

In [ ]:
anndf = anndf[['NomerDonor', 'BloodType', 'Rating']]

In [ ]:
oldmax = anndf.Rating.max()  
oldmin = anndf.Rating.min()
OldRange = (oldmax - oldmin)
NewRange = 4
for i, r in anndf.iterrows():
  anndf.at[i, 'Rating'] = (float(((r.Rating - oldmin) * NewRange)) / OldRange) + 1

In [ ]:
anndf.Rating.sort_values().unique()

In [ ]:
# anndf.info()

In [ ]:
anndf['NomerDonor'] = anndf.NomerDonor.astype(int)

In [ ]:
from google.colab import files
# anndf.to_csv('annnoloc.csv', index=False) 
# files.download('d17-21.csv')

##### --- rankin

###### - - - df ranking

In [ ]:
donor = df[['NomerDonor', 'TanggalDonor', 'BloodType', 'JKel', 'Lokasi', 'Umur']]
donor = donor.drop_duplicates()

In [ ]:
donor

In [ ]:
for index, row in donor.iterrows():
  if row.Umur >= 65:
    donor.at[index,'AgeCat'] = 0
  else:
    donor.at[index,'AgeCat'] = 3
  if row.JKel == 'Pria':
    donor.at[index,'JKCat'] = 3
  else:
    donor.at[index,'JKCat'] = 2

In [ ]:
lok = 'UTD PMI SURABAYA'
location = donor.query(str("Lokasi == '") + lok + "'").groupby('NomerDonor').count()

In [ ]:
location = location[['BloodType']]
location.columns = ['Loc']
location['NomerDonor'] = location.index

In [ ]:
location = location.rename_axis(index=None, columns=None)

In [ ]:
donor = pd.merge(donor, location, on=['NomerDonor'])

In [ ]:
maks = donor['Loc'].max()

In [ ]:
donor['Loc'] = donor['Loc']/maks

In [ ]:
donor = donor[['NomerDonor', 'TanggalDonor', 'BloodType', 'AgeCat', 'JKCat', 'Loc']]

In [ ]:
donor = donor.sort_values('TanggalDonor')

###### - - - ranking bkn desimal

In [ ]:
import pandas as pd
# ann = pd.read_csv('classifiedann.csv')

In [ ]:
anndf = pd.merge(donor, ann, on=['NomerDonor'])

In [ ]:
for i, r in anndf.iterrows():
  if r.Recency <= 60:
    anndf.at[i, 'Rating'] = 0
  else:
    anndf.at[i, 'Rating'] = ((r.Category*2) + r.AgeCat + r.JKCat)

In [ ]:
anndf = anndf[['NomerDonor', 'BloodType', 'Rating']]

In [ ]:
oldmax = anndf.Rating.max()  
oldmin = anndf.Rating.min()
OldRange = (oldmax - oldmin)
NewRange = 4
for i, r in anndf.iterrows():
  anndf.at[i, 'Rating'] = (float(((r.Rating - oldmin) * NewRange)) / OldRange) + 1

In [ ]:
anndf.Rating.sort_values().unique()

In [ ]:
# anndf.info()

In [ ]:
anndf['NomerDonor'] = anndf.NomerDonor.astype(int)

In [ ]:
from google.colab import files
anndf.to_csv('ann + 20 no1.csv', index=False) 
# files.download('no4.csv')

##### --- als

###### - - - als

In [ ]:
import pandas as pd
anndf = pd.read_csv('ann + 20 no1.csv')

In [ ]:
jum = anndf.NomerDonor.nunique()

###### - - - gapt

In [ ]:
!pip install pyspark

In [ ]:
import pyspark
sc = pyspark.SparkContext(appName="PMI")

In [ ]:
sql = pyspark.SQLContext(sc)

In [ ]:
#sql
from pyspark.sql import SparkSession
spark = SparkSession(sc)

###### - - - start

In [ ]:
annsdf=spark.createDataFrame(anndf) 
# annsdf.printSchema()
# annsdf.show()

In [ ]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.ml.tuning import TrainValidationSplit, ParamGridBuilder, CrossValidator

#Misah antara data training dan data test
# (training, test) = annsdf.randomSplit([0.8, 0.2])

#buat ALS model, col-colnya paten BTW harus ada user, item yang diprediksi dan rating
als1=ALS(maxIter=10,regParam=0.01,rank=25,userCol="BloodType",itemCol="NomerDonor",ratingCol="Rating",coldStartStrategy="drop",nonnegative=True)
model=als1.fit(annsdf)

In [ ]:
bloodfoc = model.recommendForAllUsers(jum)

In [ ]:
bloodfoc.select("BloodType", "recommendations.NomerDonor", 'recommendations.Rating').show(10, False)

###### MRR ANN

In [ ]:
model_df = bloodfoc.select("BloodType", "recommendations.NomerDonor")
model_df.show(5, False)

In [ ]:
#rename
model_df = model_df.withColumnRenamed("BloodType","BloodTypeModel") 
model_df = model_df.withColumnRenamed("NomerDonor","NomerDonorRanking")

In [ ]:
d22b = spark.createDataFrame(d22)
d22b.printSchema()
d22b.show(5)

In [ ]:
#join table sample dan model yang sudah dibuat
joined_df = d22b.join(model_df, d22b.BloodType == model_df.BloodTypeModel)
joined_df.show(3)

In [ ]:
joined_df.createOrReplaceTempView("joined_df")

In [ ]:
def reciprocal_rank(row):
    if row['NomerDonor'] in row['NomerDonorRanking']:
        rank = row['NomerDonorRanking'].index(row['NomerDonor']) + 1
        score = 1.0/float(rank)
    else:
        rank = 0
        score = 0.0
    return (row[0], row[1], row[9], rank, score)

In [ ]:
#get reciprocal score for all event type
rr_all = joined_df.rdd.map(reciprocal_rank).toDF(['NomerDonor', 'NamaDonor','BloodType', 'Ranking', 'reciprocal_score'])
rr_all.show(20, False)

In [ ]:
rr_all.createOrReplaceTempView("rr_all")

In [ ]:
# sumdf = spark.sql("")
# sumdf.show()

In [ ]:
sumdf = spark.sql("select count(*) from rr_all")
sumdf.show()

In [ ]:
sumdf = spark.sql("select count(*) from rr_all where reciprocal_score > 0.0")
sumdf.show()

In [ ]:
sumdf = spark.sql("select * from rr_all where reciprocal_score <= 0.0")
sumdf.show()

In [ ]:
all_mrr = rr_all.agg({"reciprocal_score":"avg"}).collect()[0]['avg(reciprocal_score)']

In [ ]:
all_mrr

### ann + 50% rbc --------------------------------------------------------------------------------

#### _ before corona (2015-2019)

##### --- read df

###### - - - df

In [ ]:
jenis = ['Triple', 'Quadruple', 'Single', 'Double Besar']

In [ ]:
import pandas as pd
df = pd.read_csv('d15-19.csv')
df.JenisKantong = df.JenisKantong.str.title()
df = df[df['JenisKantong'].isin(jenis)]

In [ ]:
d22 = df.loc[(df['TanggalDonor'] > '2019-11-30 11:59:59.999')]
d22 = d22.loc[(d22['Lokasi'] == 'UTD PMI SURABAYA')]

In [ ]:
df = df.loc[(df['TanggalDonor'] <= '2019-11-30 11:59:59.999')]

In [ ]:
d22 = d22[d22.NomerDonor.isin(df.NomerDonor)]

###### - - - test

In [ ]:
jenis = ['Triple', 'Quadruple', 'Single', 'Double Besar']

In [ ]:
import pandas as pd
test = pd.read_csv('d15-19.csv')
test.JenisKantong = test.JenisKantong.str.title()
test = test[test['JenisKantong'].isin(jenis)]

In [ ]:
test.JenisKantong.unique()

##### --- data training

In [ ]:
import pandas as pd
dm = pd.read_csv('dummy ann updated.csv')

In [ ]:
dm = dm.fillna(0)

In [ ]:
ctest = pd.read_csv('rbc untuk ann.csv')
# merged = pd.merge(test, ctest, on=['NomerDonor'], how='left').fillna(0)

In [ ]:
t = ctest

In [ ]:
def preproc(df):
  df['TanggalDonor']= pd.to_datetime(df['TanggalDonor'])
  months = df["TanggalDonor"].dt.year * 12 + df["TanggalDonor"].dt.month  # series
  df["Bulan"] = months - min(months) + 1
  df = df.loc[(df['Bulan'] >= df.Bulan.max()-59) & (df['Bulan'] <= df.Bulan.max())]
    # print(df.Bulan.max())
  # df['Bulan'] = df['Bulan']-48
  ndf=df[['NomerDonor']].join(pd.get_dummies(df['Bulan'])).groupby('NomerDonor').max()
  if df.Bulan.max() <60:
    ndf.insert(0, 'a1', 0)
  return ndf

In [ ]:
ctest = preproc(ctest)

In [ ]:
ctest.rename(columns={ctest.columns[0]: 'a1', ctest.columns[1]: 'a2', ctest.columns[2]: 'a3'
, ctest.columns[3]: 'a4', ctest.columns[4]: 'a5', ctest.columns[5]: 'a6', ctest.columns[6]: 'a7'
, ctest.columns[7]: 'a8', ctest.columns[8]: 'a9', ctest.columns[9]: 'a10', ctest.columns[10]: 'a11'
, ctest.columns[11]: 'a12', ctest.columns[12]: 'b1', ctest.columns[13]: 'b2', ctest.columns[14]: 'b3'
, ctest.columns[15]: 'b4', ctest.columns[16]: 'b5', ctest.columns[17]: 'b6', ctest.columns[18]: 'b7'
, ctest.columns[19]: 'b8', ctest.columns[20]: 'b9', ctest.columns[21]: 'b10', ctest.columns[22]: 'b11'
, ctest.columns[23]: 'b12', ctest.columns[24]: 'c1', ctest.columns[25]: 'c2', ctest.columns[26]: 'c3'
, ctest.columns[27]: 'c4', ctest.columns[28]: 'c5', ctest.columns[29]: 'c6', ctest.columns[30]: 'c7'
, ctest.columns[31]: 'c8', ctest.columns[32]: 'c9', ctest.columns[33]: 'c10', ctest.columns[34]: 'c11'
, ctest.columns[35]: 'c12', ctest.columns[36]: 'd1', ctest.columns[37]: 'd2', ctest.columns[38]: 'd3'
, ctest.columns[39]: 'd4', ctest.columns[40]: 'd5', ctest.columns[41]: 'd6', ctest.columns[42]: 'd7'
, ctest.columns[43]: 'd8', ctest.columns[44]: 'd9', ctest.columns[45]: 'd10', ctest.columns[46]: 'd11'
, ctest.columns[47]: 'd12', ctest.columns[48]: 'e1', ctest.columns[49]: 'e2', ctest.columns[50]: 'e3'
, ctest.columns[51]: 'e4', ctest.columns[52]: 'e5', ctest.columns[53]: 'e6', ctest.columns[54]: 'e7'
, ctest.columns[55]: 'e8', ctest.columns[56]: 'e9', ctest.columns[57]: 'e10', ctest.columns[58]: 'e11'
, ctest.columns[59]: 'e12'},inplace=True)

In [ ]:
ctest['NomerDonor'] = ctest.index
ctest = ctest.reset_index(drop=True)

In [ ]:
t = t[['NomerDonor', 'Category']]

In [ ]:
testt = pd.merge(ctest, t, on=['NomerDonor'], how='inner')
testt = testt.drop_duplicates()
testt = testt.drop(['NomerDonor'], axis=1)

In [ ]:
sample = testt.sample(frac=0.2, random_state=1)

In [ ]:
dm = dm.merge(sample, how='outer')

In [ ]:
y = dm.Category
x = dm.drop(columns='Category')

In [ ]:
from sklearn.preprocessing import OneHotEncoder

y = OneHotEncoder(sparse=False)
y = y.fit_transform(dm[['Category']])
test_y = pd.DataFrame(y)

In [ ]:
test_y.rename(columns={ test_y.columns[0]: "Cat1", test_y.columns[1]: "Cat2", test_y.columns[2]: "Cat3",
                    test_y.columns[3]: "Cat4",test_y.columns[4]: "Cat5"}, 
          inplace=True)

In [ ]:
from sklearn.model_selection import train_test_split

y.astype(int)
x.astype(int)
train_x, test_x, train_y, test_y = train_test_split(x,y,test_size=0.2, random_state=43)

##### --- training & testing

In [ ]:
# neural network
import tensorflow as tf

model = tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(units = 64, activation = 'relu', input_shape=(60,)))
# model.add(tf.keras.layers.Dense(units = 128 , activation = 'relu', input_shape=(60,)))
# model.add(tf.keras.layers.Dense(units = 256, activation = 'relu', input_shape=(60,)))
# model.add(tf.keras.layers.Dropout(0.3))
# model.add(tf.keras.layers.Dense(units = 128, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.4))
# # model.add(tf.keras.layers.Dense(units = 128, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.3))
# model.add(tf.keras.layers.Dense(units = 64, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.3))
# model.add(tf.keras.layers.Dense(units = 32, activation = 'relu'))
# model.add(tf.keras.layers.Dense(units = 16, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.3))
model.add(tf.keras.layers.Dense(units = 5, activation = 'softmax'))

model.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])
history = model.fit(train_x, train_y, validation_data = (test_x,test_y), epochs =20)

In [ ]:
pred_y = model.predict(test_x)
test_loss, test_accuracy = model.evaluate(test_x, test_y)
print(test_loss, test_accuracy)

In [ ]:
# 0.35
import matplotlib.pyplot as plt
fig, ax = plt.subplots(1, figsize=(8,6))
plt.plot(history.history['accuracy'])
plt.plot(history.history['val_accuracy'])
plt.title('Model accuracy')
plt.ylabel('Accuracy')
plt.xlabel('Epoch')
plt.legend(['Train', 'Test'], loc='upper left')
plt.show()

##### --- implementation

In [ ]:
def preproc(df):
  df['TanggalDonor']= pd.to_datetime(df['TanggalDonor'])
  months = df["TanggalDonor"].dt.year * 12 + df["TanggalDonor"].dt.month  # series
  df["Bulan"] = months - min(months) + 1
  df = df.loc[(df['Bulan'] >= df.Bulan.max()-59) & (df['Bulan'] <= df.Bulan.max())]
    # print(df.Bulan.max())
  # df['Bulan'] = df['Bulan']-48
  ndf=df[['NomerDonor']].join(pd.get_dummies(df['Bulan'])).groupby('NomerDonor').max()
  if df.Bulan.max() <60:
    ndf.insert(0, 'a1', 0)
  return ndf

In [ ]:
dfs = preproc(df)
dfs

In [ ]:
ndfp = model.predict(dfs)

In [ ]:
ndfd = pd.DataFrame(ndfp, columns = ['Cat1', 'Cat2', 'Cat3', 'Cat4', 'Cat5'])

In [ ]:
for i, r in ndfd.iterrows():
  ndfd.at[i,'Category']  = (0.2 * r.Cat1) + (0.2 * r.Cat2) + (0.2 * r.Cat3) + (0.2 * r.Cat4) + (0.2 * r.Cat5)

In [ ]:
oldmax = ndfd.Category.max()  
oldmin = ndfd.Category.min()
OldRange = (oldmax - oldmin)
NewRange = 4
for i, r in ndfd.iterrows():
  ndfd.at[i, 'Category'] = (float(((r.Category - oldmin) * NewRange)) / OldRange) + 1

In [ ]:
hasil = dfs
hasil['Category'] = ndfd['Category'].values
hasil['NomerDonor'] = hasil.index
hasil = hasil[['NomerDonor', 'Category']]

In [ ]:
hasil = hasil.rename_axis(index=None, columns=None)

In [ ]:
ann = hasil

In [ ]:
simpen = df.groupby(['NomerDonor'], as_index=False, sort=False)['TanggalDonor'].max()
annd = pd.merge(ann, simpen, on='NomerDonor', how='left')

In [ ]:
from datetime import date

today = pd.to_datetime(date.today())
today = annd['TanggalDonor'].max()
annd['Recency'] = (today - annd['TanggalDonor']).dt.days

In [ ]:
ann = annd[['NomerDonor', 'Category', 'Recency']]

In [ ]:
ann.Category.unique()

###### - - - df ranking

In [ ]:
donor = df[['NomerDonor', 'TanggalDonor', 'BloodType', 'JKel', 'Lokasi', 'Umur']]
donor = donor.drop_duplicates()

In [ ]:
donor

In [ ]:
for index, row in donor.iterrows():
  if row.Umur >= 65:
    donor.at[index,'AgeCat'] = 0
  else:
    donor.at[index,'AgeCat'] = 3
  if row.JKel == 'Pria':
    donor.at[index,'JKCat'] = 3
  else:
    donor.at[index,'JKCat'] = 2

In [ ]:
lok = 'UTD PMI SURABAYA'
location = donor.query(str("Lokasi == '") + lok + "'").groupby('NomerDonor').count()

In [ ]:
location = location[['BloodType']]
location.columns = ['Loc']
location['NomerDonor'] = location.index

In [ ]:
location = location.rename_axis(index=None, columns=None)

In [ ]:
donor = pd.merge(donor, location, on=['NomerDonor'])

In [ ]:
maks = donor['Loc'].max()

In [ ]:
donor['Loc'] = donor['Loc']/maks

In [ ]:
donor = donor[['NomerDonor', 'TanggalDonor', 'BloodType', 'AgeCat', 'JKCat', 'Loc']]

In [ ]:
donor = donor.sort_values('TanggalDonor')

###### - - - ranking

In [ ]:
import pandas as pd
# ann = pd.read_csv('classifiedann.csv')

In [ ]:
# rbc.rename(columns = {'Recency1':'Recency'}, inplace = True)

In [ ]:
anndf = pd.merge(donor, ann, on=['NomerDonor'])

In [ ]:
for i, r in anndf.iterrows():
  if r.Recency <= 60:
    anndf.at[i, 'Rating'] = 0
  else:
    if r.Category == 1:
      anndf.at[i, 'Rating'] = (10 + r.AgeCat + r.JKCat)
    elif r.Category == 2:
      anndf.at[i, 'Rating'] = (8 + r.AgeCat + r.JKCat) 
    elif r.Category == 3:
      anndf.at[i, 'Rating'] = (6 + r.AgeCat + r.JKCat )
    elif r.Category == 4:
      anndf.at[i, 'Rating'] = (4 + r.AgeCat + r.JKCat )
    else:
      anndf.at[i, 'Rating'] = (2 + r.AgeCat + r.JKCat )

In [ ]:
anndf = anndf[['NomerDonor', 'BloodType', 'Rating']]

In [ ]:
oldmax = anndf.Rating.max()  
oldmin = anndf.Rating.min()
OldRange = (oldmax - oldmin)
NewRange = 4
for i, r in anndf.iterrows():
  anndf.at[i, 'Rating'] = (float(((r.Rating - oldmin) * NewRange)) / OldRange) + 1

In [ ]:
anndf.Rating.sort_values().unique()

In [ ]:
# anndf.info()

In [ ]:
anndf['NomerDonor'] = anndf.NomerDonor.astype(int)

In [ ]:
from google.colab import files
# anndf.to_csv('annnoloc.csv', index=False) 
# files.download('d17-21.csv')

##### --- rankin

###### - - - df ranking

In [ ]:
donor = df[['NomerDonor', 'TanggalDonor', 'BloodType', 'JKel', 'Lokasi', 'Umur']]
donor = donor.drop_duplicates()

In [ ]:
donor

In [ ]:
for index, row in donor.iterrows():
  if row.Umur >= 65:
    donor.at[index,'AgeCat'] = 0
  else:
    donor.at[index,'AgeCat'] = 3
  if row.JKel == 'Pria':
    donor.at[index,'JKCat'] = 3
  else:
    donor.at[index,'JKCat'] = 2

In [ ]:
lok = 'UTD PMI SURABAYA'
location = donor.query(str("Lokasi == '") + lok + "'").groupby('NomerDonor').count()

In [ ]:
location = location[['BloodType']]
location.columns = ['Loc']
location['NomerDonor'] = location.index

In [ ]:
location = location.rename_axis(index=None, columns=None)

In [ ]:
donor = pd.merge(donor, location, on=['NomerDonor'])

In [ ]:
maks = donor['Loc'].max()

In [ ]:
donor['Loc'] = donor['Loc']/maks

In [ ]:
donor = donor[['NomerDonor', 'TanggalDonor', 'BloodType', 'AgeCat', 'JKCat', 'Loc']]

In [ ]:
donor = donor.sort_values('TanggalDonor')

###### - - - ranking bkn desimal

In [ ]:
import pandas as pd
# ann = pd.read_csv('classifiedann.csv')

In [ ]:
anndf = pd.merge(donor, ann, on=['NomerDonor'])

In [ ]:
for i, r in anndf.iterrows():
  if r.Recency <= 60:
    anndf.at[i, 'Rating'] = 0
  else:
    anndf.at[i, 'Rating'] = ((r.Category*2) + r.AgeCat + r.JKCat)

In [ ]:
anndf = anndf[['NomerDonor', 'BloodType', 'Rating']]

In [ ]:
oldmax = anndf.Rating.max()  
oldmin = anndf.Rating.min()
OldRange = (oldmax - oldmin)
NewRange = 4
for i, r in anndf.iterrows():
  anndf.at[i, 'Rating'] = (float(((r.Rating - oldmin) * NewRange)) / OldRange) + 1

In [ ]:
anndf.Rating.sort_values().unique()

In [ ]:
# anndf.info()

In [ ]:
anndf['NomerDonor'] = anndf.NomerDonor.astype(int)

In [ ]:
from google.colab import files
anndf.to_csv('ann + 20 no1.csv', index=False) 
# files.download('no4.csv')

##### --- als

###### - - - als

In [ ]:
import pandas as pd
anndf = pd.read_csv('ann + 20 no1.csv')

In [ ]:
jum = anndf.NomerDonor.nunique()

###### - - - gapt

In [ ]:
!pip install pyspark

In [ ]:
import pyspark
sc = pyspark.SparkContext(appName="PMI")

In [ ]:
sql = pyspark.SQLContext(sc)

In [ ]:
#sql
from pyspark.sql import SparkSession
spark = SparkSession(sc)

###### - - - start

In [ ]:
annsdf=spark.createDataFrame(anndf) 
# annsdf.printSchema()
# annsdf.show()

In [ ]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.ml.tuning import TrainValidationSplit, ParamGridBuilder, CrossValidator

#Misah antara data training dan data test
# (training, test) = annsdf.randomSplit([0.8, 0.2])

#buat ALS model, col-colnya paten BTW harus ada user, item yang diprediksi dan rating
als1=ALS(maxIter=10,regParam=0.01,rank=25,userCol="BloodType",itemCol="NomerDonor",ratingCol="Rating",coldStartStrategy="drop",nonnegative=True)
model=als1.fit(annsdf)

In [ ]:
bloodfoc = model.recommendForAllUsers(jum)

In [ ]:
bloodfoc.select("BloodType", "recommendations.NomerDonor", 'recommendations.Rating').show(10, False)

###### MRR ANN

In [ ]:
model_df = bloodfoc.select("BloodType", "recommendations.NomerDonor")
model_df.show(5, False)

In [ ]:
#rename
model_df = model_df.withColumnRenamed("BloodType","BloodTypeModel") 
model_df = model_df.withColumnRenamed("NomerDonor","NomerDonorRanking")

In [ ]:
d22b = spark.createDataFrame(d22)
d22b.printSchema()
d22b.show(5)

In [ ]:
#join table sample dan model yang sudah dibuat
joined_df = d22b.join(model_df, d22b.BloodType == model_df.BloodTypeModel)
joined_df.show(3)

In [ ]:
joined_df.createOrReplaceTempView("joined_df")

In [ ]:
def reciprocal_rank(row):
    if row['NomerDonor'] in row['NomerDonorRanking']:
        rank = row['NomerDonorRanking'].index(row['NomerDonor']) + 1
        score = 1.0/float(rank)
    else:
        rank = 0
        score = 0.0
    return (row[0], row[1], row[9], rank, score)

In [ ]:
#get reciprocal score for all event type
rr_all = joined_df.rdd.map(reciprocal_rank).toDF(['NomerDonor', 'NamaDonor','BloodType', 'Ranking', 'reciprocal_score'])
rr_all.show(20, False)

In [ ]:
rr_all.createOrReplaceTempView("rr_all")

In [ ]:
# sumdf = spark.sql("")
# sumdf.show()

In [ ]:
sumdf = spark.sql("select count(*) from rr_all")
sumdf.show()

In [ ]:
sumdf = spark.sql("select count(*) from rr_all where reciprocal_score > 0.0")
sumdf.show()

In [ ]:
sumdf = spark.sql("select * from rr_all where reciprocal_score <= 0.0")
sumdf.show()

In [ ]:
all_mrr = rr_all.agg({"reciprocal_score":"avg"}).collect()[0]['avg(reciprocal_score)']

In [ ]:
all_mrr

### Explore d22 ------------------------------------------------------------------------------

In [ ]:
import pandas as pd

d1 = pd.read_excel('History donor_UK Petra Widya 2015.xlsx')
d2 = pd.read_excel('History donor_UK Petra Widya 2016.xlsx')
d3 = pd.read_excel('History donor_UK Petra Widya 2017.xlsx')
d4 = pd.read_excel('History donor_UK Petra Widya 2018.xlsx')
d5 = pd.read_excel('History donor_UK Petra Widya 2019.xlsx')
d6 = pd.read_excel('History donor_UK Petra Widya 2020.xlsx')
d7 = pd.read_excel('History donor_UK Petra Widya 2021.xlsx')
d8 = pd.read_excel('History donor_UK Petra Widya 2022.xlsx')

In [ ]:
jum = (d1.count())
jum = jum + (d2.count())
jum = jum + (d3.count())
jum = jum + (d4.count())
jum = jum + (d5.count())
jum = jum + (d6.count())
jum = jum + (d7.count())
jum = jum + (d8.count())
jum

In [ ]:
frames = [d1, d2, d3, d4, d5, d6, d7, d8]
df = pd.concat(frames)
df

In [ ]:
df = df.dropna()
df.isna().sum()

In [ ]:
df.rename(columns={'No DONOR':'NomerDonor','Nama Donor': 'NamaDonor', 
                   'No Kantong': 'NoKantong', 'Tgl DONOR': 'TanggalDonor', 
                   'Umur Donor': 'UmurDonor', 'JNS KELAMIN': 'JenisKelamin',
                   'TEMPAT DONOR': 'TempatDonor', 'VOLUME': 'Volume', 'JNS KANTONG': 'jeniskantong'}, 
          inplace=True)

In [ ]:
df.rename(columns={'jeniskantong':'JenisKantong'}, 
          inplace=True)

In [ ]:
df

In [ ]:
df = df[['NomerDonor', 'NamaDonor', 'TanggalDonor', 'UmurDonor', 'JenisKelamin', 'TempatDonor', 'JenisKantong']]

In [ ]:
df

In [ ]:
df.to_excel("last.xlsx", index=False)

In [ ]:
c = pd.read_excel('last.xlsx')

In [ ]:
c

### koalvin--------------------------------------------------------------------------------

#### _ before corona (2015-2019)

##### --- read df

###### - - - df

In [ ]:
jenis = ['Triple', 'Quadruple', 'Single', 'Double Besar']

In [ ]:
import pandas as pd
df = pd.read_csv('d15-19.csv')
df.JenisKantong = df.JenisKantong.str.title()
df = df[df['JenisKantong'].isin(jenis)]

In [ ]:
d22 = df.loc[(df['TanggalDonor'] > '2019-11-30 11:59:59.999')]
d22 = d22.loc[(d22['Lokasi'] == 'UTD PMI SURABAYA')]

In [ ]:
df = df.loc[(df['TanggalDonor'] <= '2019-11-30 11:59:59.999')]

In [ ]:
d22 = d22[d22.NomerDonor.isin(df.NomerDonor)]

##### --- data training

In [ ]:
tests = d22.NomerDonor.unique()

In [ ]:
len(tests)

In [ ]:
def preproc(df):
  df['TanggalDonor']= pd.to_datetime(df['TanggalDonor'])
  months = df["TanggalDonor"].dt.year * 12 + df["TanggalDonor"].dt.month  # series
  df["Bulan"] = months - min(months) + 1
  df = df.loc[(df['Bulan'] >= df.Bulan.max()-59) & (df['Bulan'] <= df.Bulan.max())]
    # print(df.Bulan.max())
  # df['Bulan'] = df['Bulan']-48
  ndf=df[['NomerDonor']].join(pd.get_dummies(df['Bulan'])).groupby('NomerDonor').max()
  if df.Bulan.max() <60:
    ndf.insert(0, 'a1', 0)
  return ndf

In [ ]:
ctest = preproc(df)

In [ ]:
ctest

In [ ]:
ctest.rename(columns={ctest.columns[0]: 'a1', ctest.columns[1]: 'a2', ctest.columns[2]: 'a3'
, ctest.columns[3]: 'a4', ctest.columns[4]: 'a5', ctest.columns[5]: 'a6', ctest.columns[6]: 'a7'
, ctest.columns[7]: 'a8', ctest.columns[8]: 'a9', ctest.columns[9]: 'a10', ctest.columns[10]: 'a11'
, ctest.columns[11]: 'a12', ctest.columns[12]: 'b1', ctest.columns[13]: 'b2', ctest.columns[14]: 'b3'
, ctest.columns[15]: 'b4', ctest.columns[16]: 'b5', ctest.columns[17]: 'b6', ctest.columns[18]: 'b7'
, ctest.columns[19]: 'b8', ctest.columns[20]: 'b9', ctest.columns[21]: 'b10', ctest.columns[22]: 'b11'
, ctest.columns[23]: 'b12', ctest.columns[24]: 'c1', ctest.columns[25]: 'c2', ctest.columns[26]: 'c3'
, ctest.columns[27]: 'c4', ctest.columns[28]: 'c5', ctest.columns[29]: 'c6', ctest.columns[30]: 'c7'
, ctest.columns[31]: 'c8', ctest.columns[32]: 'c9', ctest.columns[33]: 'c10', ctest.columns[34]: 'c11'
, ctest.columns[35]: 'c12', ctest.columns[36]: 'd1', ctest.columns[37]: 'd2', ctest.columns[38]: 'd3'
, ctest.columns[39]: 'd4', ctest.columns[40]: 'd5', ctest.columns[41]: 'd6', ctest.columns[42]: 'd7'
, ctest.columns[43]: 'd8', ctest.columns[44]: 'd9', ctest.columns[45]: 'd10', ctest.columns[46]: 'd11'
, ctest.columns[47]: 'd12', ctest.columns[48]: 'e1', ctest.columns[49]: 'e2', ctest.columns[50]: 'e3'
, ctest.columns[51]: 'e4', ctest.columns[52]: 'e5', ctest.columns[53]: 'e6', ctest.columns[54]: 'e7'
, ctest.columns[55]: 'e8', ctest.columns[56]: 'e9', ctest.columns[57]: 'e10', ctest.columns[58]: 'e11'
, ctest.columns[59]: 'e12'},inplace=True)

In [ ]:
ctest['NomerDonor'] = ctest.index
ctest = ctest.reset_index(drop=True)

In [ ]:
for i,r in ctest.iterrows():
  if r.NomerDonor in tests:
    ctest.at[i, 'Category'] = 1
  else:
    ctest.at[i, 'Category'] = 0

In [ ]:
y = ctest.Category
x = ctest.drop(columns=['Category', 'NomerDonor'])

In [ ]:
from sklearn.preprocessing import OneHotEncoder

y = OneHotEncoder(sparse=False)
y = y.fit_transform(ctest[['Category']])

In [ ]:
from sklearn.model_selection import train_test_split

y.astype(int)
x.astype(int)
train_x, test_x, train_y, test_y = train_test_split(x,y,test_size=0.2, random_state=43)

##### --- training & testing

In [ ]:
# neural network
import tensorflow as tf

model = tf.keras.models.Sequential()
# model.add(tf.keras.layers.Dense(units = 64, activation = 'relu', input_shape=(60,)))
model.add(tf.keras.layers.Dense(units = 128 , activation = 'relu', input_shape=(60,)))
# model.add(tf.keras.layers.Dense(units = 215, activation = 'relu', input_shape=(60,)))
# model.add(tf.keras.layers.Dropout(0.3))
# model.add(tf.keras.layers.Dense(units = 256, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.4))
# # model.add(tf.keras.layers.Dense(units = 128, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.3))
# model.add(tf.keras.layers.Dense(units = 64, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.3))
# model.add(tf.keras.layers.Dense(units = 32, activation = 'relu'))
# model.add(tf.keras.layers.Dense(units = 16, activation = 'relu'))
# model.add(tf.keras.layers.Dropout(0.3))
model.add(tf.keras.layers.Dense(units = 2, activation = 'softmax'))

model.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])
history = model.fit(train_x, train_y, validation_data = (test_x,test_y), epochs =20)

In [ ]:
pred_y = model.predict(test_x)
test_loss, test_accuracy = model.evaluate(test_x, test_y)
print(test_loss, test_accuracy)

In [ ]:
# 0.35
import matplotlib.pyplot as plt
fig, ax = plt.subplots(1, figsize=(8,6))
plt.plot(history.history['accuracy'])
plt.plot(history.history['val_accuracy'])
plt.title('Model accuracy')
plt.ylabel('Accuracy')
plt.xlabel('Epoch')
plt.legend(['Train', 'Test'], loc='upper left')
plt.show()

##### --- implementation

###### - - - preproc

In [ ]:
def preproc(df):
  df['TanggalDonor']= pd.to_datetime(df['TanggalDonor'])
  months = df["TanggalDonor"].dt.year * 12 + df["TanggalDonor"].dt.month  # series
  df["Bulan"] = months - min(months) + 1
  df = df.loc[(df['Bulan'] >= df.Bulan.max()-59) & (df['Bulan'] <= df.Bulan.max())]
    # print(df.Bulan.max())
  # df['Bulan'] = df['Bulan']-48
  ndf=df[['NomerDonor']].join(pd.get_dummies(df['Bulan'])).groupby('NomerDonor').max()
  if df.Bulan.max() <60:
    ndf.insert(0, 'a1', 0)
  return ndf

In [ ]:
dfs = preproc(df)
dfs

In [ ]:
ndfp = model.predict(dfs)

In [ ]:
ndfp

In [ ]:
ndfd = pd.DataFrame(ndfp, columns = ['No', 'Yes'])

In [ ]:
for i, r in ndfd.iterrows():
  if r.No > r.Yes:
    ndfd.at[i,'Calon']  = 0
  else:
    ndfd.at[i,'Calon']  = 1
# calon -> 1, bkn -> 0

In [ ]:
hasil = dfs
hasil['Calon'] = ndfd['Calon'].values
hasil['NomerDonor'] = hasil.index
hasil = hasil[['NomerDonor', 'Calon']]

In [ ]:
hasil = hasil.rename_axis(index=None, columns=None)

In [ ]:
ann = hasil

In [ ]:
ann

In [ ]:
simpen = df.groupby(['NomerDonor'], as_index=False, sort=False)['TanggalDonor'].max()
annd = pd.merge(ann, simpen, on='NomerDonor', how='left')

In [ ]:
from datetime import date

today = pd.to_datetime(date.today())
today = annd['TanggalDonor'].max()
annd['Recency'] = (today - annd['TanggalDonor']).dt.days

In [ ]:
ann = annd[['NomerDonor', 'Calon', 'Recency']]

###### - - - df ranking

In [ ]:
donor = df[['NomerDonor', 'TanggalDonor', 'BloodType', 'JKel', 'Lokasi', 'Umur']]
donor = donor.drop_duplicates()

In [ ]:
donor

In [ ]:
for index, row in donor.iterrows():
  if row.Umur >= 65:
    donor.at[index,'AgeCat'] = 0
  else:
    donor.at[index,'AgeCat'] = 2
  if row.JKel == 'Pria':
    donor.at[index,'JKCat'] = 2
  else:
    donor.at[index,'JKCat'] = 1

In [ ]:
lok = 'UTD PMI SURABAYA'
location = donor.query(str("Lokasi == '") + lok + "'").groupby('NomerDonor').count()

In [ ]:
location = location[['BloodType']]
location.columns = ['Loc']
location['NomerDonor'] = location.index

In [ ]:
location = location.rename_axis(index=None, columns=None)

In [ ]:
donor = pd.merge(donor, location, on=['NomerDonor'])

In [ ]:
maks = donor['Loc'].max()

In [ ]:
donor['Loc'] = donor['Loc']/maks

In [ ]:
donor = donor[['NomerDonor', 'TanggalDonor', 'BloodType', 'AgeCat', 'JKCat', 'Loc']]

In [ ]:
donor = donor.sort_values('TanggalDonor')

###### - - - ranking

In [ ]:
import pandas as pd
# ann = pd.read_csv('classifiedann.csv')

In [ ]:
# rbc.rename(columns = {'Recency1':'Recency'}, inplace = True)

In [ ]:
anndf = pd.merge(donor, ann, on=['NomerDonor'])

In [ ]:
for i, r in anndf.iterrows():
  if r.Recency <= 60:
    anndf.at[i, 'Rating'] = 0
  else:
    if r.Calon == 1:
      anndf.at[i, 'Rating'] = (3 + r.AgeCat + r.JKCat)
    else:
      anndf.at[i, 'Rating'] = (1 + r.AgeCat + r.JKCat)

In [ ]:
anndf = anndf[['NomerDonor', 'BloodType', 'Rating']]

In [ ]:
oldmax = anndf.Rating.max()  
oldmin = anndf.Rating.min()
OldRange = (oldmax - oldmin)
NewRange = 4
for i, r in anndf.iterrows():
  anndf.at[i, 'Rating'] = (float(((r.Rating - oldmin) * NewRange)) / OldRange) + 1

In [ ]:
anndf.Rating.sort_values().unique()

In [ ]:
# anndf.info()

In [ ]:
anndf['NomerDonor'] = anndf.NomerDonor.astype(int)

In [ ]:
from google.colab import files
anndf.to_csv('koalvin8.csv', index=False) 
# files.download('d17-21.csv')

##### --- als

###### - - - als

In [ ]:
import pandas as pd
anndf = pd.read_csv('koalvin8.csv')

In [ ]:
jum = anndf.NomerDonor.nunique()

###### - - - gapt

In [ ]:
!pip install pyspark

In [ ]:
import pyspark
sc = pyspark.SparkContext(appName="PMI")

In [ ]:
sql = pyspark.SQLContext(sc)

In [ ]:
#sql
from pyspark.sql import SparkSession
spark = SparkSession(sc)

###### - - - start

In [ ]:
annsdf=spark.createDataFrame(anndf) 
# annsdf.printSchema()
# annsdf.show()

In [ ]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.ml.tuning import TrainValidationSplit, ParamGridBuilder, CrossValidator

#Misah antara data training dan data test
# (training, test) = annsdf.randomSplit([0.8, 0.2])

#buat ALS model, col-colnya paten BTW harus ada user, item yang diprediksi dan rating
als1=ALS(maxIter=10,regParam=0.01,rank=25,userCol="BloodType",itemCol="NomerDonor",ratingCol="Rating",coldStartStrategy="drop",nonnegative=True)
model=als1.fit(annsdf)

In [ ]:
bloodfoc = model.recommendForAllUsers(jum)

In [ ]:
bloodfoc.select("BloodType", "recommendations.NomerDonor", 'recommendations.Rating').show(10, False)

###### MRR ANN

In [ ]:
model_df = bloodfoc.select("BloodType", "recommendations.NomerDonor")
model_df.show(5, False)

In [ ]:
#rename
model_df = model_df.withColumnRenamed("BloodType","BloodTypeModel") 
model_df = model_df.withColumnRenamed("NomerDonor","NomerDonorRanking")

In [ ]:
d22b = spark.createDataFrame(d22)
d22b.printSchema()
d22b.show(5)

In [ ]:
#join table sample dan model yang sudah dibuat
joined_df = d22b.join(model_df, d22b.BloodType == model_df.BloodTypeModel)
joined_df.show(3)

In [ ]:
joined_df.createOrReplaceTempView("joined_df")

In [ ]:
def reciprocal_rank(row):
    if row['NomerDonor'] in row['NomerDonorRanking']:
        rank = row['NomerDonorRanking'].index(row['NomerDonor']) + 1
        score = 1.0/float(rank)
    else:
        rank = 0
        score = 0.0
    return (row[0], row[1], row[9], rank, score)

In [ ]:
#get reciprocal score for all event type
rr_all = joined_df.rdd.map(reciprocal_rank).toDF(['NomerDonor', 'NamaDonor','BloodType', 'Ranking', 'reciprocal_score'])
rr_all.show(20, False)

In [ ]:
rr_all.createOrReplaceTempView("rr_all")

In [ ]:
# sumdf = spark.sql("")
# sumdf.show()

In [ ]:
sumdf = spark.sql("select count(*) from rr_all")
sumdf.show()

In [ ]:
sumdf = spark.sql("select count(*) from rr_all where reciprocal_score > 0.0")
sumdf.show()

In [ ]:
sumdf = spark.sql("select * from rr_all where reciprocal_score <= 0.0")
sumdf.show()

In [ ]:
all_mrr = rr_all.agg({"reciprocal_score":"avg"}).collect()[0]['avg(reciprocal_score)']

In [ ]:
all_mrr